
<div class="span4">
<h4> Some details for your company </h4>
<%= form_for @company, url: '/company_new' do |f| %>
 <% if @company.errors.any? %>
 <div class="alert alert-error">   
	<h4>Errors:</h4>
	<ul>
		<% @company.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
   </div>
<% end %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'input-block-level', :placeholder => "Ex: Mycompany .inc" %>
  </p>
  <p>
    <%= f.label :address %>
    <%= f.text_field :address, :class => 'input-block-level', :placeholder => "Ex: 5th Avenue st. 980 " %>
  </p>
  <p>
    <%= f.label :city %>
    <%= f.text_field :city, :class => 'input-block-level', :placeholder => "Ex: Los Angeles"%>
  </p>
  <p>
    <%= f.label :country %>
    <%= f.text_field :country, :class => 'input-block-level', :placeholder => "Ex: California" %>
  </p>
  	<%= f.label :zip_code %>
  	<%= f.text_field :zip_code, :class => 'input-block-level', :placeholder => "Ex: 743021" %>
  <p>
    <%= submit_tag("Save", :class => "btn btn-success pull-right") %>
  </p>

<% end %>
</div>
