<%= form_for @user, url: '/admins' do |f| %>
 <% if @user.errors.any? %>
 <div class="alert alert-error">   
	<h4>Errors:</h4>
	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
   </div>
<% end %>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  	<%= f.label :password_confirmation %>
  	<%= f.password_field :password_confirmation %>
  <p>
    <%= submit_tag("Create account", :class => "btn btn-primary")%>
  </p>
<% end %>