<h4>Employees settings</h4>  
<table class="table table-hover table-striped">
<tr>
	<th>#</th>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Email</th>
	<th>Jobs</th>
	<th>Actions</th>
</tr>
<% vector = ["Salesman", "Accountant", "Collector"] %>

<% if (@users_details)%>
<% @users_details.each do |user_details| %>
<tr>
	<td><%= user_details[:id] %></td>
	<td><%= user_details[:first_name] %></td>
	<td><%= user_details[:last_name] %></td>
	<td><%= user_details[:email] %></td>
	<td>
		<ul>
		<% user_details[:job].each do |job|%>
		<li>
			<%= vector[job[:job_id]-2] %>
		</li>
		<% end %>
		</ul>
	</td>
	<td><%= link_to 'Edit', user_edit_path(user_details[:id]) %> </td>
</tr>
<% end %>
<% else %>
	<p>No employees in database</p>
<% end %>
</table>