<div class="row">
<div class="span6 well-white"> 
	<div class="row">
  		<div class="span4">
	<% if @customers %>
 	 <h5 class="muted">Activity Feed</h5>
</div>
<!-- Activity Feed Calendar Filter -->
 	<div class="span2">
   		<div class="pull-right">
   			<div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
   			<input class="span2" size="16" type="text" value="20/07/2013">
   		 	<span class="add-on"><i class="icon-calendar"></i></span>
   			</div>
   	 	</div>  
   </div>
<!-- end Activity Feed Calendar Filter -->
   <div class="span6"> 
	   <legend></legend>
   </div>
</div>  
<!-- end row -->
<% if @activities != []%>
    <% @activities.each do |activity| %>
    
    <%= render_activity(activity,params = {:page => 'admin'}) %>
    <% end %>
<% else %>
   	<%= render :partial => "partials/no_data" %>
<% end %>

  	<!--
	<ul>
		<% @customers.each do |customer| %>
		<li>User <%= customer.user_id %> added <%= customer.first_name%> <%= customer.last_name %> at <%= customer.created_at %></li>
		<% end %>
		
		<% @invoices.each do |invoice| %>
		<li>User <%= invoice.user_id %> created an invoice for customer <%= invoice.customer_id %> on <%= invoice.date %></li>
		<% end %>
		
		<% @actions.each do |action| %>
		<li>User <%= action.user_id %> sent an email for customer <%= action.customer_id %> on <%= action.sent_at %></li>
		<% end %>		
	</ul>
	<% else %>
	<% if @job_error || @user.errors.any? %>
	<legend class="text-error">Errors </legend>
		<div class="alert alert-error">
			<% if @job_error %>
			<%= @job_error %>
			<% end %>
			<% if @user.errors.any? %>
				<ul>
					<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			<% end %>
			</div>
	<% end %>	
	<% end %>
	-->
 			
</div>
 
<div class="span5 pull-right well-white">
  	<div id="employee_form">
	
	<legend>Create employee account <button type="button" id="create_employee_button_close" class="btn btn-danger pull-right"><i class="icon-remove icon-white"></i></button></legend>
	<%= form_for @user, url: '/admin' do |f| %>
	
	<fieldset>

	<div class="control-group">
		<%= f.label :available_jobs, :class => "control-label" %>
		<div class="controls">
		<%= f.fields_for :workson do |f| %>
			<%= f.check_box :salesman %><label class="checkbox inline" for="user_workson_salesman"><span></span>Salesman</label>
			<%= f.check_box :accountant %><label class="checkbox inline" for="user_workson_accountant"><span></span>Accountant</label> 
			<%= f.check_box :collector %> <label class="checkbox inline" for="user_workson_collector"><span></span>Collector</label>
		<% end %>
		</div>
	</div>
	
	<div class="controls controls-row">
			<%= f.text_field :email,  :class => "span5", :placeholder => "Email" %>
	</div>
	<div class="controls controls-row">
			<%= f.text_field :first_name, :class => "span2", :placeholder => "First Name" %>
			<%= f.text_field :last_name, :class => "span3", :placeholder => "Last Name" %>
	</div>
	<div class="controls controls-row">
			<%= f.password_field :password,  :class => "span2", :placeholder => "Password" %>
			<%= f.password_field :password_confirmation, :class => "span3", :placeholder => "Password Confirmation" %>
	</div>
	   
	<!-- Text input	-->
	</fieldset>
	</div>
<div class="span6">
	<div class="span4">
<!--  Nu se pune span in span... in interiorul unui span se pune un row, apoi in acel row poti pune iar span, daca dai inspect element pe div-uri in pagina ai sa vezi cum ies din cointainer :)	 -->
		<div class="alert alert-info text-center ">
		<a href ="#"><strong>Heads up!</strong> Add company logo!</a> 
		</div>
	</div>  
	<div class="span4"> 
		<br>  
	<h1 id="emphasis">Get everybody on board!</h1> 
	<p>Simplify your invoice flow! Add now an <strong>account manager</strong>, a <strong>financial representative</strong> and a <strong>collecting agent</strong> with specific rights and responsabilities!</p> 
		<!--	
	<h4>Recent Activity</h4> <hr> 
	<div class="media">
	 	<a class="pull-left" href="#">
		<img class="media-object img-rounded" img class="img-rounded" src="https://i0.wp.com/d3oaxc4q5k2d6q.cloudfront.net/m/c208b19f4374/img/default_avatar/32/user_blue.png?ssl=1">
		</a>
		<div class="media-body">
			<strong>Kevin J. Liew</strong>
			<i><small class="muted pull-right">1m ago</small></i></br>
			<small class="muted" href="#">#collections</small>	
		</div>
	</div>
	<div class="media">
	 	<a class="pull-left" href="#">
		<img class="media-object img-rounded" img class="img-rounded" src="https://i0.wp.com/d3oaxc4q5k2d6q.cloudfront.net/m/c208b19f4374/img/default_avatar/32/user_blue.png?ssl=1">
		</a>
		<div class="media-body">
			<strong>Dolores W. Johnson</strong>
			<i><small class="muted pull-right">1m ago</small></i></br>
			<small class="muted" href="#">#collections</small>	 
		</div>
	</div>
	<div class="media">
		<a class="pull-left" href="#">
		<img class="media-object img-rounded" img  src="https://secure.gravatar.com/avatar/c726f2dbeae8066ef58dd60b0df93c36?d=https%3A%2F%2Fd3oaxc4q5k2d6q.cloudfront.net%2Fm%2Fc208b19f4374%2Fimg%2Fdefault_avatar%2F32%2Fuser_blue.png&s=32">
		</a>
		<div class="media-body">
			<strong>Tracy J. Montgomery</strong>
		 	<i><small class="muted pull-right">1m ago</small></i><br>
			<small class="muted" href="#">#collections</small>	 
		</div>
	</div> 
	<div class="media">
		<a class="pull-left" href="#">
		<img class="media-object img-rounded" img  src="https://secure.gravatar.com/avatar/412a6c617e80508547bc26dffa9afea2?d=https%3A%2F%2Fd3oaxc4q5k2d6q.cloudfront.net%2Fm%2Fc208b19f4374%2Fimg%2Fdefault_avatar%2F32%2Fuser_blue.png&s=32">
		</a>
		<div class="media-body">
			<strong>Shannon M. Calvert</strong>
			<i><small class="muted pull-right">1m ago</small></i><br>
			<small class="muted" href="#">#collections</small>	
		</div>
	</div>
	<div class="media">
		<a class="pull-left" href="#">
		<img class="media-object img-rounded" img  src="https://secure.gravatar.com/avatar/412a6c617e80508547bc26dffa9afea2?d=https%3A%2F%2Fd3oaxc4q5k2d6q.cloudfront.net%2Fm%2Fc208b19f4374%2Fimg%2Fdefault_avatar%2F32%2Fuser_blue.png&s=32">
		</a>
		<div class="media-body">
			<strong>Shannon M. Calvert</strong>
			<i><small class="muted pull-right">1m ago</small></i><br>
			<small class="muted" href="#">#collections</small>	
		</div>
 	</div>-->
 
 <br>
	<button type="button" id="create_employee_button" class="btn btn-success btn-block pull-right"><i class="icon-plus icon-white "></i> Add employee</button>  
	</div>
		
</div>
</div>

	<% end %> 
  
</div> 
 
<!-- Basic example of add users. This has to be a modal. --> 
<div class="span6">
	<h4>Add Employee<button class="close">&times;</button></h4><hr>
	<form class="form-inline">
		<input class="input-block-level" type="text" placeholder="Email Address"> 
		<small class="muted">*You can give multiple roles to an user/employee</small> </br></br>
 	 	<label class="checkbox"> 
	  		<input type="checkbox"> <h4>Account Manager</h4>
	 	</label> <br>
		Can add clients and invoices and filter through open invoices, and when neccessay can add notes and send emails or download invoices. 
  		<label class="checkbox">
	  		<input type="checkbox"> <h4>Financial Representative</h4>
		</label><br>
		Has to confirm payments to collecting agent and ca filter through all invoices or can download them when neccessary. 
 		<label class="checkbox">
			<input type="checkbox"> <h4>Collection Agent</h4>
		</label><br>
		Is responsible for overdue invoices only! Can filter through them, and can add notes, send emails or download invoices.<hr>
 		<h5 class="text-center">$20 / employee / month </h5>
	</form>
	<div class="form-actions">
		 <button type="submit" class="btn btn-success pull-right">Submit</button>
		 <button type="button" class="btn">Cancel</button>
	</div>
</div> 
 

</div>