<div class="row">
<div class="span6 well-white"> 
	<div class="row">
  		<div class="span4">
	<% if @customers %>
 	 <h5 class="muted">Activity Feed</h5>
</div>
<!-- Activity Feed Calendar Filter -->
 	<div class="span2">
   		<div class="pull-right">
   			<div class="input-append date" data-date-format="dd-mm-yyyy">
   			<input class="span2" type="text" value="20/07/2013">
   		 	<span class="add-on"><i class="icon-calendar"></i></span>
   			</div>
   	 	</div>  
   </div>
<!-- end Activity Feed Calendar Filter -->
   <div class="span6"> 
	   <legend></legend>
   </div>
</div>  
<!-- end row -->
<% if @activities != []%>
    <% @activities.each do |activity| %>
    
    <%= render_activity(activity,params = {:page => 'admin'}) %>
    <% end %>
<% else %>
   	<%= render partial: "partials/no_data" %>

<% end %>



  	<!--
	<ul>
		<% @customers.each do |customer| %>
		<li>User <%= customer.user_id %> added <%= customer.first_name%> <%= customer.last_name %> at <%= customer.created_at %></li>
		<% end %>
		
		<% @invoices.each do |invoice| %>
		<li>User <%= invoice.user_id %> created an invoice for customer <%= invoice.customer_id %> on <%= invoice.date %></li>
		<% end %>
		
		<% @actions.each do |action| %>
		<li>User <%= action.user_id %> sent an email for customer <%= action.customer_id %> on <%= action.sent_at %></li>
		<% end %>		
	</ul>
	<% else %>
	<% if @job_error || @user.errors.any? %>
	<legend class="text-error">Errors </legend>
		<div class="alert alert-error">
			<% if @job_error %>
			<%= @job_error %>
			<% end %>
			<% if @user.errors.any? %>
				<ul>
					<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			<% end %>
			</div>
	<% end %>	
	<% end %>
	-->
 			
</div>
 
<div class="span5 pull-right well-white">
  	<div id="employee_form">
	
	<legend>Create employee account <button type="button" id="create_employee_button_close" class="btn btn-danger pull-right"><i class="icon-remove icon-white"></i></button></legend>
	<%= form_for @user, url: '/admin' do |f| %>
	
	<fieldset>

	<div class="control-group">
		<%= f.label :available_jobs, :class => "control-label" %>
		<div class="controls">
		<%= f.fields_for :workson do |f| %>
			<%= f.check_box :salesman %><label class="checkbox inline" for="user_workson_salesman"><span></span>Salesman</label>
			<%= f.check_box :accountant %><label class="checkbox inline" for="user_workson_accountant"><span></span>Accountant</label> 
			<%= f.check_box :collector %> <label class="checkbox inline" for="user_workson_collector"><span></span>Collector</label>
		<% end %>
		</div>
	</div>
	
	<div class="controls controls-row">
			<%= f.text_field :email,  :class => "span5", :placeholder => "Email" %>
	</div>
	<div class="controls controls-row">
			<%= f.text_field :first_name, :class => "span2", :placeholder => "First Name" %>
			<%= f.text_field :last_name, :class => "span3", :placeholder => "Last Name" %>
	</div>
	<div class="controls controls-row">
			<%= f.password_field :password,  :class => "span2", :placeholder => "Password" %>
			<%= f.password_field :password_confirmation, :class => "span3", :placeholder => "Password Confirmation" %>
	</div>
	   
	<!-- Text input	-->
	</fieldset>
	</div>	
	
<div class="row">	
	<div class="span4"> 
<!--  Nu se pune span in span... in interiorul unui span se pune un row, apoi in acel row poti pune iar span, daca dai inspect element pe div-uri in pagina ai sa vezi cum ies din cointainer :)	 -->
		<div class="alert alert-info text-center ">
			<a href ="#"><strong>Heads up!</strong> Add company logo!</a> 
		</div>
	</div> <!-- end span4--> 
	<div class="span4"><br> 
		<h1>Get everybody on board!</h1> 
		<p>Simplify your invoice flow! Add now an <strong>account manager</strong>, a <strong>financial representative</strong> and a <strong>collecting agent</strong> with specific rights and responsabilities!</p><br>   
		<button type="button" id="create_employee_button" class="btn btn-success btn-block pull-right"><i class="icon-plus icon-white "></i> Add employee</button>  
	</div><!-- end row -->
		

</div>

	<% end %> 
  
</div> 
 
<!-- Basic example of add users. This has to be a modal. --> 
<div class="span8">
	<h4>Add Employee<button class="close">&times;</button></h4><hr>
	<form class="form-inline">
		<input class="input-block-level" type="text" placeholder="Email Address"> 
		<small class="muted">*You can give multiple roles to an user/employee</small> </br></br>
 	 	<label class="checkbox"> 
	  		<input type="checkbox"> <h4>Account Manager</h4>
	 	</label> <br>
		The account manager is responsible with adding clients and creating new invoices. This person can contact customers, access and download open invoices and add internal notes.<br> 
  		<label class="checkbox">
	  		<input type="checkbox"> <h4>Financial Representative</h4>
		</label><br>
		Your financial representative settles invoice payments with the company accounts and has access to archived invoices that have already been resolved. Paid invoices are archived, while unpaid (or partial paid) invoices are transferred to the collection agent.<br>
 		<label class="checkbox">
			<input type="checkbox"> <h4>Collection Agent</h4>
		</label><br>
		Some invoices don't get paid on time and the collection agent is responsible with undertaking the necessary actions to collect from customers. This role has access to overdue invoices, confirmed by the financial representative as unpaid.<hr>
 		<h5 class="text-center">$20 / employee / month </h5>
	</form>
	<div class="form-actions">
		 <button type="submit" class="btn btn-success pull-right">Submit</button>
		 <button type="button" class="btn">Cancel</button>
	</div><!-- end form-actions -->
</div><!-- end span8 --> 
 
 
