<div class="row">
<div class="span6"> 
	<div class="row">
  		<div class="span4">
	<% if @customers %>
   	 <h5>Activity Feed</h5> 
</div>

 	<div class="span2">
   		<div class="pull-right">
   	<div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
   		  <input class="span2" size="16" type="text" value="12-02-2012">
   		  <span class="add-on"><i class="icon-calendar"></i></span>
   		</div>
   	</div>
	  
   </div>
   <div class="span6"> <legend></legend></div>
</div>  

	<!--Static Example -->
 	<div class="row">
		<div class="span1">
	<img src="https://si0.twimg.com/profile_images/384515986/zmeura_normal.jpg" />
</div>
	<div class="span5">
		<strong>Kevin J. Liew</strong> &nbsp<a class="text-info" href="#">#collections</a> 
		<p>Scheduled a <a class="text-error" href="#">#letter mail</a> for Soft Warehouse Source Inc. regarding invoice <a  class="muted" href="#"><u>000875</u></a>									
		</div>
	</div><br>
		<!--Static Example -->
		<!--Static Example -->
	 	<div class="row">
			<div class="span1">
		<img src="https://si0.twimg.com/profile_images/384515986/zmeura_normal.jpg" />
	</div>
		<div class="span5">
			<strong>Kevin J. Liew</strong> &nbsp<a class="text-info" href="#">#collections</a> 
			<p>Scheduled a <a class="text-error" href="#">#letter mail</a> for Soft Warehouse Source Inc. regarding invoice <a  class="muted" href="#"><u>000875</u></a>									
			</div>
		</div><br>
			<!--Static Example -->
			<!--Static Example -->
		 	<div class="row">
				<div class="span1">
			<img src="https://si0.twimg.com/profile_images/384515986/zmeura_normal.jpg" />
		</div>
			<div class="span5">
				<strong>Kevin J. Liew</strong> &nbsp<a class="text-info" href="#">#collections</a> 
				<p>Scheduled a <a class="text-error" href="#">#letter mail</a> for Soft Warehouse Source Inc. regarding invoice <a  class="muted" href="#"><u>000875</u></a>									
				</div>
			</div><br>
				<!--Static Example -->
		 
	 
				 
	<ul>
		<% @customers.each do |customer| %>
		<li>User <%= customer.user_id %> added <%= customer.first_name%> <!--&nbsp--> <%= customer.last_name %> at <%= customer.created_at %></li>
		<% end %>
		
		<% @invoices.each do |invoice| %>
		<li>User <%= invoice.user_id %> created an invoice for customer <%= invoice.customer_id %> on <%= invoice.date %></li>
		<% end %>
		
		<% @actions.each do |action| %>
		<li>User <%= action.user_id %> sent an email for customer <%= action.customer_id %> on <%= action.sent_at %></li>
		<% end %>		
	</ul>
	<% else %>
	<% if @job_error || @user.errors.any? %>
	<legend class="text-error">Errors </legend>
		<div class="alert alert-error">
			<% if @job_error %>
			<%= @job_error %>
			<% end %>
			<% if @user.errors.any? %>
				<ul>
					<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			<% end %>
			</div>
	<% end %>	
	<% end %>
	
 			
 </div>
 
<div class="span5 pull-right ">
  	<div id="employee_form">
	
	<legend>Create employee account <button type="button" id="create_employee_button_close" class="btn btn-danger pull-right"><i class="icon-remove icon-white"></i></button></legend>
	<%= form_for @user, url: '/admin' do |f| %>
	
	<fieldset>

	<div class="control-group">
		<%= f.label :available_jobs, :class => "control-label" %>
		<div class="controls">
		<%= f.fields_for :workson do |f| %>
			<%= f.check_box :salesman %><label class="checkbox inline" for="user_workson_salesman"><span></span>Salesman</label>
			<%= f.check_box :accountant %><label class="checkbox inline" for="user_workson_accountant"><span></span>Accountant</label> 
			<%= f.check_box :collector %> <label class="checkbox inline" for="user_workson_collector"><span></span>Collector</label>
		<% end %>
		</div>
	</div>
	
	<div class="controls controls-row">
			<%= f.text_field :email,  :class => "span5", :placeholder => "Email" %>
	</div>
	<div class="controls controls-row">
			<%= f.text_field :first_name, :class => "span2", :placeholder => "First Name" %>
			<%= f.text_field :last_name, :class => "span3", :placeholder => "Last Name" %>
	</div>
	<div class="controls controls-row">
			<%= f.password_field :password,  :class => "span2", :placeholder => "Password" %>
			<%= f.password_field :password_confirmation, :class => "span3", :placeholder => "Password Confirmation" %>
	</div>
	  
	
	<!-- Text input-->
	</fieldset>
	</div>
	<div class="span4 well ">
	<div class="alert alert-info">
	              <a href ="#"><strong>Heads up!</strong> Add company logo!</a>
	            </div> 
				
				  <p class="text-align-center">With Invoice Flow you can now improve your organizational effiency by adding an account manager, a financial representative and/or a collection agent with specific rights and responsabilities.</p><br>
 
 	  		 	<div class="row">
	  				<div class="span1">
	  			<img src="https://si0.twimg.com/profile_images/384515986/zmeura_normal.jpg" />
	  		</div>
	  			<div class="span3">
	  				<strong>Account Manager</strong> 
	  				<i class="muted">responsible with issuing invoices</i>									
	  				</div>
	  			</div> 
 
  	  		 	<div class="row">
	  				<div class="span1">
	  			<img src="https://si0.twimg.com/profile_images/384515986/zmeura_normal.jpg" />
	  		</div>
	  			<div class="span3">
	  				<strong>Financial Respresentative</strong> 
	  				<i class="muted">responsible with receivables</i>									
	  				</div>
	  			</div> 
				
				
 	  		 	<div class="row">
	  				<div class="span1">
	  			<img src="https://si0.twimg.com/profile_images/384515986/zmeura_normal.jpg"/>
	  		</div>
	  			<div class="span3">
	  				<strong>Collection Agent</strong> 
	  				<i class="muted">responsible with collecting</i>									
	  				</div>
	  			</div><br>
	  				 <button type="button" id="create_employee_button" class="btn btn-success pull-right"><i class="icon-plus icon-white "></i>Add employee</button>  
		  		 
				</div>
	<!--
	<button type="button" id="create_employee_button" class="btn btn-success pull-right"><i class="icon-plus icon-white"></i>Add employee</button>  
	-->
	<% end %>
</div>
</div><br><br>
 
<!-- <h4>Employees</h4>  -->
<table class="table table-hover table-striped">
<tr>
	<th>#</th>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Email</th>
	<th>Jobs</th>
	<th>Actions</th>
</tr>
<% vector = ["Salesman", "Accountant", "Collector"] %>

<% if (@users_details)%>
<% @users_details.each do |user_details| %>
<tr>
	<td><%= user_details[:id] %></td>
	<td><%= user_details[:first_name] %></td>
	<td><%= user_details[:last_name] %></td>
	<td><%= user_details[:email] %></td>
	<td>
		<ul>
		<% user_details[:job].each do |job|%>
		<li>
			<%= vector[job[:job_id]-2] %>
		</li>
		<% end %>
		</ul>
	</td>
	<td><%= link_to 'Edit', user_edit_path(user_details[:id]) %> </td>
</tr>
<% end %>
<% else %>
	<p>No employees in database</p>
<% end %>
</table>

</div>