<h1>Log in</h1>
<%= form_for :user, url: 'login_user' do |f|%>
<p>
<%= f.label :email %> <br />
<%= f.text_field :email %>
</p>
<p>
<%= f.label :password %> <br />
<%= f.password_field :password %>
</p>
<p class ="button">
<%= submit_tag("Login", :class => "btn btn-primary") %></p>
<% end	%>
