<div class="span3">
<h2>Log in</h2>
<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}", :class=> "alert alert-error" %>
<% end %>
			    
<%= form_for :user, url: 'login' do |f|%>
<p>
<%= f.text_field :email, :class => "input-block-level", :placeholder => "Email" %>
</p>
<p>
<%= f.password_field :password, :class => "input-block-level", :placeholder => "Password" %>
</p>
<p class ="button">
<%= submit_tag("Login", :class => "btn btn-info btn-large") %></p>
<a href="/signup" class="">Signup</a>
<% end	%>
</div>