<div id="set-payment-modal" class="modal hide fade in" style="width: auto; display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Send Payment</h3>
  </div>
    <div class="modal-body">
      <div class="call-status-bar" >
        <%= form_tag ({:controller => "invoices", :action => "mark_payment"}), ({:remote => true}) do %>
          <div class="row">
            <div class="span8">
              <h4 class="text-center">Invoice <span id="invoice-number"></span> for <span id="company-name"></span></h4><br>
            </div>
          </div>

          <div class="row">
            <br />
            <div class="span8">	
              <div class="span3">
              Invoice Amount: <strong id="show-invoice-amount"><%= invoice.amount %></strong></br><br>
              Paid Amount: <strong id="show-paid-invoice-amount"><%= invoice.amount %></strong></br><br>
              <input class="input-small" type="text" placeholder="0.0" name="amount" value="0">
              <small class="">USD</small><br>
              <label class="checkbox"> 
                <input type="checkbox" style="display: block;" id="pay-in-full"><small>Pay in full</small>
              </label>
              <br>
            </div>

            <div class="span4 pull-right">
              <select class="span3 pull-right">
                <option>Check</option>
                <option>Bank Transfer</option>
                <option>Credit</option>
                <option>Cash</option>
                <option>Debit</option>
                <option>ACH</option>
                <option>Credit Card</option>
                <option>Online Payment</option>
              </select>

              <div class="input-append date pull-right" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                <input class="span2" size="16" type="text" value="20/07/2013">
                <span class="add-on"><i class="icon-calendar"></i></span>
              </div>
            </div>
             <textarea class="input-xlarge span4 pull-right" id="textarea" placeholder="Add note" rows="4"></textarea>
            </div>
          </div>

          <%= hidden_field_tag :id, invoice.id %>
          <%= hidden_field_tag :invoice_value, invoice.amount %>

          <div class="row"> 
            <div class="span8">
              <!--<hr>
                <label class="checkbox"> 
                <input type="checkbox"><small class="text-center">Send Bloom Brother a payment notification email &nbsp;&nbsp; <a> edit default email </a></small>
                </label> <br>
              -->
              <div class="form-actions"> 
                <div class="span1">
                  <!--
                 <button type="button" class="btn pull-left">Cancel</button> 
                 -->
                </div> 
                <div class="span4">
                 <!--
                 <button type="submit" class="btn btn-danger">Unpaid</button>
                 <%#= submit_tag "Send", :class => "btn btn-success pull-right" %>
                 -->
                </div>
                <div class="span2">
                 <!--
                 <button type="submit" class="btn btn-success pull-right">Record Payment</button>
                 -->
                 <%= submit_tag "Send", :class => "btn btn-success pull-right" %>
                </div> 
              </div>
            </div>		
          </div>
          </div>

        <% end %>
      </div>
    </div>

    <div class="modal-footer">
    </div>
</div>
