
   <div class="input-prepend pull-left">
    <form accept-charset="UTF-8" id="searchForm">
     <button type="button" class="btn disabled" id="search-button"><i class="icon-search"></i></button>
    <input type="text" class="span9" placeholder="Search an invoice by invoice number, customer account, first name or last name", id="search_field_invoices_collections" name="search" autocomplete="off"/>
    <button type="button" class="btn btn-danger reset-search-button-collections"/><i class="icon-remove-sign"></i></button>
  </div>
   
<table class="table table-hover table-striped" id="invoices-collections-table">
  
  <tr>
  <th>#</th>
  <th>Organization Name and Contact Name</th>
  <th>Account number</th>
  <th>Open invoices</th>
  <th>Response</th>
  <th></th>
  </tr>
  
  <% index = 0 %>
  <% @customer_details.each do |customer_details| %>
  <% customer = customer_details[:customer] %>
  <tr data-link="<%= customer_details_path(customer.id)%>">
  <td><%= index = index + 1 %> </td>
  <td><%= customer.organization_name + ' / ' + customer.first_name + ' ' + customer.last_name %></td>
  <td><%= customer.account %></>
  <td><ul class="unstyled">
	  <% if customer_details[:open_invoices]%>
	      <% customer_details[:open_invoices].each do |open_invoice| %>
	      <li> # <%= open_invoice.number %> issued <%= open_invoice.date %>
	      </li>
	      <% end %>
	  <% end %>
	  </ul>
  </td>
  <td> </td>
  <td> <i class="icon-chevron-right"/></td>
  </tr>
  <% end %>
  <% if index==0 %>
    <!-- No data to be displayed yet. -->
  <% end %>
 
</table>
<br /><br /> 

<!-- Example of Table inside dashboard page for collection -->   

<h6 class="muted">4 ACTIVE CUSTOMERS</h6>
<table class="table table-hover table-striped">
  <tr>
 	  <th>[Doar Organization Name sau Contact Name]</th>  
 	  <th>Days Overdue</th>
	  <th>Total Amount</th>
	  <th>Last Contact</th>
	  <th>Status</th>
 	  <th></th>
  </tr>
  <tr>
 	  <td>Bloom Brothers</td>
 	  <td>51 Days</td>
	  <td>$3262</td>
	  <td><i class="icon-envelope"></i> 3 Days ago </td>
	  <td class="text-error">PTP <small>(0d left)</small></td> 
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
  <tr>
 	  <td>Advanced Ideas Inc.</td>
 	  <td>65 Days</td>
	  <td>$100</td>
	  <td>@ 1 Day ago</td> 
	  <td class="text-error">OVERDUE</td> 
	  <td><i class="icon-chevron-right"></i></td>
  </tr> 
  <tr>
 	  <td>Soft Warehouse Source Inc.</td>
 	  <td>41 Days</td>
	  <td>$290</td>
	  <td><i class="icon-headphones"></i> 3 Days ago </td>
	  <td class="text-error">PARTIAL</td> 
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
  <tr>
 	  <td>Barbara Lauterbach</td>
 	  <td>32 Days</td>
	  <td>$820</td>
	  <td><i class="icon-comment"></i> 1 Day ago </td>
	  <td class="text-success"> PAID</td> 
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
     
</table> 

<!-- Example of Table inside customer page for collection agents-->   
 
<br /><br /> 
//---- Example of Table inside customer page for collection users ----//

<h6 class="muted">4 ACTIVE INVOICES</h6>
<table class="table table-hover table-striped">
  <tr>
 	  <th>Invoice Number</th> 
 	  <th>Days Overdue</th>
 	  <th>Amount</th>
	  <th>Last Contact</th>
	  <th>Status</th>
	  <th>Action</th>
 	  <th></th>
  </tr>
  <tr>
 	  <td>00025</td>
 	  <td>51 Days</td>
 	  <td>$552</td>
	  <td><i class="icon-envelope"></i> 3 Days ago </td>
	  <td class="text-error">PTP <small>(0d left)</small></td>
	  <td><button class="btn btn-success btn-small" type="button"><i class="icon-pencil"></i>&nbsp; UPDATE</button></td>  
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
  <tr>
 	  <td>00043</td>
 	  <td>30 Days</td>
 	  <td>$1200</td>
	  <td><span class="add-on">@</span> 1 Day ago</td> 
	  <td class="text-error">OVERDUE</td>
	  <td><button class="btn btn-success btn-small" type="button"><i class="icon-pencil"></i>&nbsp; UPDATE</button></td> 
	  <td><i class="icon-chevron-right"></i></td>
  </tr> 
  <tr>
 	  <td>00038</td>
 	  <td>12 Days</td>
 	  <td>$310</td>
	  <td><i class="icon-headphones"></i> 3 Days ago </td>
	  <td class="text-error">PARTIAL</td>
	  <td><button class="btn btn-success btn-small" type="button"><i class="icon-pencil"></i>&nbsp; UPDATE</button></td> 
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
  <tr>
 	  <td>00023</td>
 	  <td>10 Days</td>
 	  <td>$1200</td>
	  <td><i class="icon-comment"></i> 1 Day ago </td>
	  <td class="text-success"> PAID</td>
	  <td><button class="btn disabled btn-small" type="button"><i class="icon-ok"></i>&nbsp; PAID</button></td> 
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
  
</table> 
<br/><br/>
</div>
<div class="clearfix">
</div>


