
  <div class="input-append">
    
    <%= form_tag collector_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :class => "span5" %>
    <%= submit_tag("Search", :class => "btn") %>   
    <% end %>
  </div>
   
<table class="table table-bordered table-hover table-striped">
  
  <tr>
  <th>#</th>
  <th>First name</th>
  <th>Last name </th>
  <th>Customer id</th>
  <th>Payment</th>
  <th>Response</th>
  <th></th>
  </tr>
  
  <% index = 0 %>
  <% @customers.each do |customer| %>
  	<% if customer.balance < 0 %>
		<tr>

  
  <td><%= index = index + 1 %> </td>
  <td><%= customer.first_name %></td>
  <td><%= customer.last_name %></td>
  <td><%= customer.id %></td>
  <td>$<%= customer.balance %></td>
  <td> </td>
  <td> <a href="customer_details/<%= customer.id %>" class = "btn" >Details</a></td>
  </tr>
  <% end %>
<% end %>  
</table>

</div>
<div class="clearfix">
</div>


