<table class="table table-hover" id=<%= table_id %>>
  <thead>
  <tr>
    <th>#</th>
    <th><div rel="tooltip" title="Click to sort">Organization Name and Customer Name</div></th>
    <th><div rel="tooltip" title="Click to sort by Invoice Number">Invoice Number</div></th>
    <th><div rel="tooltip" title="Click to sort by Amount">Amount</div></th>
    <th><div rel="tooltip" title="Click to sort by Status">Status</div></th>
    <th>Action</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% index = 0 %>
  <% invoices.each do |invoice| %>
    <tr data-link="<%= invoice_details_path(invoice.number)%>">
      <td><%= index = index + 1 %></td>
      <td><%= invoice.customer.organization_name + ' / ' +invoice.customer.first_name + ' ' + invoice.customer.last_name %></td>
      <td><%= invoice.number %></td>
      <td>$<%= invoice.amount.to_i %></td>
      <td class="invoice_status_<%= invoice.id %>"><%= invoice.state.capitalize rescue "" %></td>
      <td class="change_status_<%= invoice.id %>"><%= render :partial => "invoices/change_status", :locals => {:invoice => invoice} %></td>
      <td><i class="icon-chevron-right"></i></td>
    </tr>
  <% end %>
  </tbody>
</table>
