<legend>Create invoice </legend> 

<form accept-charset="UTF-8" id="new_invoice" action=<%= customer_create_invoice_path(@customer) %> method="post">

<div class ="row">
	<div class = "span6">
		<p><strong>Customer name:</strong> <%= @customer.first_name + ' ' + @customer.last_name %> </p>
		<p><strong>Adress:</strong> <%= @customer.address1 %></p>
		<div id="ajax_response">
		</div>
	</div>

<div class="span6">
<fieldset>
<div class="control-group">
<%= fields_for :invoice do |i| %>
	<%= i.label :due_date, :class => "control-label" %>
	<div class="controls">
		<%= i.text_field :due_date, :class => "datepicker", :placeholder => "Due date" %>
		<%= i.hidden_field :amount %>
		<%= i.hidden_field :number_of_services, :value => 0 %>
	</div>
<% end %>	
</div>

<%= fields_for :customer do |c| %>
<%= c.hidden_field :id, :value => @customer.id %>
	<%= c.hidden_field :email, :value => @customer.email %>
	<%= c.hidden_field :name, :value => @customer.first_name + ' ' + @customer.last_name  %>
  
<% end %>
<!-- Text input-->
</fieldset>

</div>

<div class="span12">
<table class="table table-striped" id="services_table">
  <tr>
  <th>#</th>
  <th>Service</th>
  <th>Value</th>
  <th>Qty</th>
  <th>Actions</th>
  <th>Total</th>
  </tr>
  <tr>
  <%= fields_for :service do |f| %>
  			<td></td>
			<td><%= f.text_field :name, :class => "span2", :placeholder => "Service name" %>
			</td>
			<td>
			<%= f.number_field :value, :class => "span2", :placeholder => "0" %>
			</td>
			<td>
			<%= f.number_field :qty, :class => "span2", :placeholder => "0" %>
			</td>
			<td>
			<button class="btn btn-success" type="button" id="add_service_button"><i class="icon-plus icon-white"></i> Add</button>
			</td>
			<td>
				
			</td>
  <% end %>
  </tr>
 
  <tr>
	  <td colspan="5"></td>
	  <td>
	  	<strong>Total amount:</strong>
	  </td>
  </tr>
</table>

</div>
<button class="modalButton btn btn-info span2" id="1"> Preview </button>
  <div class="btn-group pull-right">
  <button type="submit" name="draft" class="btn span2">Save draft</button>
  <button type="button" id="invoice_submit" class="btn btn-primary span2">Send Ajax</button>
  </div>
  
  </form>
</div>  