
<table class="table plain_table">
<tr>
 <td>
  <div class="input-append">
    
    <%= form_tag accountant_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :class => "span5" %>
    <%= submit_tag("Search", :class => "btn") %>   
    <% end %>
    
  </div>
 </td>
 <td>
 <button class="modalButton btn btn-primary" id="1">Add invoice</button>
 </td>
 </tr>
 <tr>
 <td>
  <label class = "strong">Download: </label>
  <button class="btn">Income</button>
  <button class="btn">Invoices</button>
 </td>
</tr>
</table>

<table class="table table-bordered table-hover table-striped">
  
  <tr>
  <th>Invoice number</th>
  <th>Amount</th>
  <th>Current balance</th>
  <th>Customer id </th>
  <th>Details</th>
  </tr>
  
  <% index = 0 %>
  <% @invoices.each do |invoice| %>
  	<% if invoice.current_balance < 0 %>
  		<tr class = "error">
	<% else %>
		<tr >
	<% end %>
  
  <% index = index + 1 %>
  <td><%= invoice.number %></td>
  <td><%= invoice.amount %> $ </td>
  <td><%= invoice.current_balance %></td>
  <td><%= invoice.customer_id %></td>
    <td> <a href="invoice_details/<%= invoice.id %>" class = "btn" >Details</a></td>

  </tr>
  <% end %>
  
</table>

</div>
<div class="clearfix">
</div>

<div class="modal hide fade" id="modal1">
<div class="form-horizontal">
  <%= form_for :invoice, url: '/invoice_create', :class => "form-horizontal" do |f|%>

  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Add invoice</h4>
          
	<div class="input-prepend control-group">
		<%= f.label :amount, :class => "control-label" %>
		<div class="controls">
		    <span class="add-on">$</span>
			<%= f.text_field :amount, :class => "input-xlarge amount", :placeholder => "Amount" %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :due_date, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :due_date, :class => "datepicker input-xlarge", :placeholder => "Due date" %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :customer_id, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :customer_id, :class => "input-xlarge", :placeholder => "Customer id" %>
		</div>
	</div>

  </div>
  
  <div class="modal-footer">
      <button type="button" class="btn btn-danger span2 pull-left" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <%= submit_tag("Add", :class => "btn btn-info span2 pull-right") %>

  </div>
  
  <% end %>  <!-- #form end -->
</div>
</div>


