
<table class="table plain_table">
<tr>
 <td>
  <div class="input-append">
    
    <%= form_tag accountant_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :class => "span9", :placeholder => 'Search an invoice by invoice number, customer account, first name or last name' %>
    <%= button_tag(type: 'submit', class: "btn") do %>
   		 <i class="icon-ml-search"></i> Search</button>
    <% end %>    
    <% end %>
    
  </div>
 </td>
 <td>
 
 </td>
 </tr>

</table>

<table class="table table-hover">
  <tr>
  	  <th>#</th>
	  <th>Invoice number</th>
	  <th>Customer name</th>
	  <th>Customer account </th>
	  
	  <th>Amount</th>
	  <th></th>
  </tr>
  
  <% index = 0 %>
  <% @invoice_details.each do |invoice_details| %>
  <tr data-link="<%= invoice_details_path(invoice_details[:invoice].id)%>">
  
  <td><%= index = index + 1 %></td>
  <td><%= invoice_details[:invoice].number %></td>
  <td><%= invoice_details[:customer].first_name + ' ' + invoice_details[:customer].last_name %></td>
  <td><%= invoice_details[:customer].account %></td>
  <td><%= invoice_details[:invoice].amount %> $ </td>
    <td><%= link_to invoice_details_path(invoice_details[:invoice].id) do %>
	  			 <span class="label label-info"><i class="icon-ml-eye"></i> Details</span>
	  	   <% end %>
	</td>
    
  </tr>
  <% end %>
  
</table>

</div>
<div class="clearfix">
</div>

<div class="modal hide fade" id="modal1">
<div class="form-horizontal">
  <%= form_for :invoice, url: '/invoice_create', :class => "form-horizontal" do |f|%>

  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Add invoice</h4>
          
	<div class="input-prepend control-group">
		<%= f.label :amount, :class => "control-label" %>
		<div class="controls">
		    <span class="add-on">$</span>
			<%= f.text_field :amount, :class => "input-xlarge amount", :placeholder => "Amount" %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :due_date, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :due_date, :class => "datepicker input-xlarge", :placeholder => "Due date" %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :customer_id, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :customer_id, :class => "input-xlarge", :placeholder => "Customer id" %>
		</div>
	</div>
		
  </div>
  
  <div class="modal-footer">
      <button type="button" class="btn btn-danger span2 pull-left" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <%= submit_tag("Add", :class => "btn btn-info span2 pull-right") %>

  </div>
  
  <% end %>  <!-- #form end -->
</div>
</div>


