
<table class="table table-bordered plain_table">
<tr>
 <td>
  <div class="input-append">
    
    <%= form_tag accountant_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :class => "span5" %>
    <%= submit_tag("Search", :class => "btn") %>   
    <% end %>
    
  </div>
 </td>
 <td>
  <label class = "strong">Download: </label>
 </td>
 <td>
  <button class="btn">Income</button>
  <button class="btn">Invoices</button>
 </td>
</tr>
</table>
<table class="table table-hover table-striped">
  
  <tr>
  <th>Invoice number</th>
  <th>Amount</th>
  <th>Current balance</th>
  <th>Customer id </th>
  <th>Details</th>
  </tr>
  
  <% index = 0 %>
  <% @invoices.each do |invoice| %>
  	<% if invoice.current_balance < 0 %>
  		<tr class = "error">
	<% else %>
		<tr >
	<% end %>
  
  <% index = index + 1 %>
  <td><%= invoice.number %></td>
  <td><%= invoice.amount %> $ </td>
  <td><%= invoice.current_balance %></td>
  <td><%= invoice.customer_id %></td>
    <td> <a href="invoice_details?invoice_id=<%= invoice.id %>" class = "btn" >Details</a></td>

  </tr>
  <% end %>
  
</table>
</div>

</div>
<div class="clearfix">