
<div class="input-prepend pull-left">
<!--   <%#= form_tag ({}), ({:id => "searchForm"}) do %> -->
<!--   Alex: Nu stiu care schimba din "form html" in "form_tag", dar nu mai schimbati ca se strica input-prependul... -->
<!--   Gabi: Care input-prepend? :-) Si de ce anume tine acest input prepend? -->
  <form accept-charset="UTF-8" id="searchForm">
   <button type="button" class="btn disabled" id="search-button"><i class="icon-search"></i></button>
   <input type="text" class="span9" placeholder="Search an invoice by invoice number, customer account, first name or last name", id="search_field_invoices" name="search" autocomplete="off"/>
   <button type="button" class="btn btn-danger reset-search-button-invoices"/><i class="icon-remove-sign"></i></button>
  </form>
<!--   <%# end %> -->
</div>

<div class="clearfix"></div>

<div class="table-div">
<%= render :partial => "all_invoices", :locals => {:invoices => @invoices, :list_type => :all, :table_id => "invoices-table"} %>
<h4 class="muted" id="info-message"></h4>
</div>

<div class="clearfix">
</div>

<%= render :partial => "some_weird_modal" %>

  <!-- Static Example of Table -->

  <h6 class="muted"><%= @unpaid_invoices.count %> ACTIVE INVOICES</h6>
  <%= render :partial => "all_invoices", :locals => {:invoices => @unpaid_invoices, :list_type => :unpaid, :table_id => "blabla"} %>
  <br />

  <!-- Static Example of Table with selected row -->
  <br /><br />

  <h6 class="muted"><%= @paid_invoices.count %> PAID INVOICES</h6>
  <%= render :partial => "all_invoices", :locals => {:invoices => @paid_invoices, :list_type => :paid, :table_id => "bla" } %>

<br />

<h3>BELOW - DESIGN ELEMENTS</h3>

<!-- Example of a Table in Financials. --> 
<br /><br />
<h6 class="muted">6 ACTIVE INVOICES</h6>
<table class="table table-hover table-striped">
  <tr>
 	  <th>[Doar Organization Name sau Contact Name]</th>  
 	  <th>Invoice #</th> 
	  <th>Issue Date</th>
	  <th>Amount</th>
	  <th>Status</th>
	  <th>Action</th>
	  <th></th>
  </tr>
  <tr>
 	  <td>Soft Warehouse Source Inc.</td>
	  <td>0018</td>
	  <td>21 Jul 2013</td>
	  <td>$1000</td>
	  <td class="text-error">PTP <small>(0d left)</small></td>
	  <td><button class="btn btn-danger btn-small" type="button"><i class="icon-pencil"></i>&nbsp; PAYMENT</button></td> 
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
  <tr>
 	  <td>Soft Warehouse Source Inc.</td>
	  <td>0018</td>
	  <td>21 Jul 2013</td>
	  <td>$1000</td>
	  <td class="text-error">OVERDUE</td>
	  <td><button class="btn btn-success btn-small" type="button"><i class="icon-pencil"></i>&nbsp; PAYMENT</button></td> 
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
  <tr>
 	  <td>Barbara Lauterbach</td>
	  <td>0029</td>
	  <td>21 Jul 2013</td>
	  <td>$1900</td>
	  <td>DUE</td>
	  <td><button class="btn btn-success btn-small" type="button"><i class="icon-pencil"></i>&nbsp; PAYMENT</button></td>
	  <td><i class="icon-chevron-right"></i></span></td>
  </tr> 
  <tr>
 	  <td>Soft Warehouse Source Inc.</td>
	  <td>0019</td>
	  <td>21 Jul 2013</td>
	  <td>$2000</td>
	  <td class="text-error">PARTIAL</td>
	  <td><button class="btn btn-success btn-small" type="button"><i class="icon-pencil"></i>&nbsp; PAYMENT</button></td>
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
  <tr>
 	  <td>Soft Warehouse Source Inc.</td>
	  <td>0017</td>
	  <td>21 Jul 2013</td>
	  <td>$1200</td>
	  <td class="text-success">Active</td>
	  <td><button class="btn btn-small" type="button"><i class="icon-refresh"></i> UNDO</button></td>
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
  <tr>
 	  <td>Bloom Brothers</td>
	  <td>0021</td>
	  <td>21 Jul 2013</td>
	  <td>$1000</td>
	  <td>SENT</td>
	  <td><button class="btn btn-success btn-small" type="button"><i class="icon-pencil"></i>&nbsp; PAYMENT</button></td>
	  <td><i class="icon-chevron-right"></i></td>
  </tr> 
</table> 
<br /><br /> 


<!-- Example of a Table in Financials. --> 
<br /><br /><br /><br />
<table class="table table-hover table-striped">
  <tr>
 	  <th>[Doar Organization Name sau Contact Name]</th> 
  	  <th>Invoice #</th> 
	  <th>Issue Date</th>
	  <th>Amount</th>
	  <th>Status</th>
	  <th>Action</th>
	  <th></th>
  </tr>
  <tr>
 	  <td>Soft Warehouse Source Inc.</td>
	  <td>0018</td>
	  <td>21 Jul 2013</td>
	  <td>$1000</td>
	  <td class="text-success">PAID</td>
	  <td><button class="btn btn-small" type="button"><i class="icon-download"></i> Download</button></td> 
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
  <tr>
 	  <td>Soft Warehouse Source Inc.</td>
	  <td>0018</td>
	  <td>21 Jul 2013</td>
	  <td>$1000</td>
	  <td class="text-success">PAID</td>
	  <td><button class="btn btn-small" type="button"><i class="icon-download"></i> Download</button></td> 
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
  <tr>
 	  <td>Barbara Lauterbach</td>
	  <td>0029</td>
	  <td>21 Jul 2013</td>
	  <td>$1900</td>
	  <td class="text-success">PAID</td>
	  <td><button class="btn btn-small" type="button"><i class="icon-download"></i> Download</button></td>
	  <td><i class="icon-chevron-right"></i></span></td>
  </tr> 
  <tr>
 	  <td>Soft Warehouse Source Inc.</td>
	  <td>0019</td>
	  <td>21 Jul 2013</td>
	  <td>$2000</td>
	  <td class="text-success">PAID</td>
	  <td><button class="btn btn-small" type="button"><i class="icon-download"></i> Download</button></td>
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
  <tr>
 	  <td>Soft Warehouse Source Inc.</td>
	  <td>0017</td>
	  <td>21 Jul 2013</td>
	  <td>$1200</td>
	  <td class="text-success">PAID</td>
      <td><button class="btn btn-small" type="button"><i class="icon-download"></i> Download</button></td>	  
 	  <td><i class="icon-chevron-right"></i></td>
  </tr>
  <tr>
 	  <td>Bloom Brothers</td>
	  <td>0021</td>
	  <td>21 Jul 2013</td>
	  <td>$1000</td>
	  <td class="text-success">PAID</td>
	  <td><button class="btn btn-small" type="button"><i class="icon-download"></i> Download</button></td>
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
</table> 
<br />
<div class="row">
	<div class="span12">
 		<button type="button" class="btn span2 pull-right"><i class=" icon-download icon-white"></i> Download PDF</button> 
 		<button type="button" class="btn span2 pull-right"><i class=" icon-download icon-white"></i> Download CSV</button>
 		<button type="button" class="btn span2 pull-right"><i class=" icon-download icon-white"></i> Download XML</button><br><br>
 	</div>	
</div> 
<br /><br /><br />
<!-- Basic example of payment info. This has to be a modal after clicking Payment BTN --> 

<div class="row">
	<div class="span8">
 		<h4>Enter Payment<button class="close">&times;</button></h4><hr>
		<h4 class="text-center">Invoice #0049 for Bloom Brothers</h4><br>
	</div><!-- end span8 -->
</div><!-- end row -->
<div class="row"><br>
	<div class="span8">
		<div class="row">	
  		  	<div class="span4">
				Invoice Amount: <strong>$420</strong></br><br>
				<input class="input-small" type="text" placeholder="0.0"> 
				<small class="">USD</small><br>
 	 		 	<label class="checkbox"> 
	  				<input type="checkbox"><small>Pay in full</small>
	 		 	</label> <br> 
			</div><!-- end span4 -->
		
  			<div class="span4 pull-right">
  				<select class="span3 pull-right">
		 		   <option>Check</option>
				   <option>Bank Transfer</option>
				   <option>Credit</option>
		 		   <option>Cash</option>
		 		   <option>Debit</option>
		 		   <option>ACH</option>
		 	       <option>Credit Card</option>
		 	       <option>Online Payment</option> 
			   </select>
			   <!-- Credit Card options end Online Payment options will be added --> 			
			
 			   <div class="input-append date pull-right" data-date-format="dd-mm-yyyy">
   					<input class="span2" type="text" value="20/07/2013">
   		 			<span class="add-on"><i class="icon-calendar"></i></span> 
  			   </div>
			 </div><!-- end span4 pull-right -->
 			 		<textarea class="input-xlarge span4 pull-right" id="textarea" placeholder="Add note" rows="4"></textarea>
	</div><!-- end row --> 
</div><!-- end span8 -->
</div><!-- end row -->
 
<div class="row"> 
	<div class="span8"> 
 		<div class="form-actions">  
			 <button type="button" class="btn btn-danger pull-left">Unpaid</button>  
			 <button type="submit" class="btn btn-success pull-right">Record Payment</button>
		</div><!-- end form actions-->
	</div><!-- end span8 -->
</div><!-- end row -->
<!-- End Basic example of payment info. This has to be a modal after clicking Payment BTN --> 

<%= render :partial => "partials/payment_modal", :locals => {:invoice => @invoices.first} %>
