
<div class="input-prepend pull-left">
  <%= form_tag ({}), ({:id => "searchForm"}) do %>
   <button type="button" class="btn disabled" id="search-button"><i class="icon-search"></i></button>
   <input type="text" class="span9" placeholder="Search an invoice by invoice number, customer account, first name or last name", id="search_field_invoices" name="search" autocomplete="off"/>
   <button type="button" class="btn btn-danger reset-search-button-invoices"/><i class="icon-remove-sign"></i></button>
  <% end %>
</div>

<%= render :partial => "all_invoices", :locals => {:invoices => @invoices, :list_type => :all} %>

</div>

<div class="clearfix">
</div>

 
<%= render :partial => "some_weird_modal" %>

<!-- Static Example of Table -->
<div class="span12"><button type="button" class="btn btn-success disabled pull-right"><i class=" icon-ok-sign icon-white"></i> Mark as PAID</button><br><br> 

  <%= render :partial => "all_invoices", :locals => {:invoices => @invoices, :list_type => :unpaid} %>
<br>

<!-- Static Example of Table with selected row -->
<button type="button" class="btn btn-success pull-right"><i class=" icon-ok-sign icon-white"></i> Mark as PAID</button>

<br /><br />

<%= render :partial => "all_invoices", :locals => {:invoices => @invoices, :list_type => :paid} %>
<br />
<!-- Basic example of payment info. This has to be a modal after clicking Marked as Paid. --> 

<div class="row">
	<div class="span8">
 		<h4>Enter Payment<button class="close">&times;</button></h4><hr>
		<h4 class="text-center">Invoice #0049 for Bloom Brothers</h4><br>
	</div>
</div>
<div class="row"><br>
	<div class="span8">	
  	<div class="span3">
		Invoice Amount: <strong>$420</strong></br><br>
		<input class="input-small" type="text" placeholder="0.0"> 
		<small class="">USD</small><br>
 	 	<label class="checkbox"> 
	  		<input type="checkbox"><small>Pay in full</small>
	 	</label> <br> 
	</div>
		
  	<div class="span4 pull-right">
  		<select class="span3 pull-right">
		 	<option>Check</option>
		 	<option>2</option>
		  	<option>3</option>
		 	<option>4</option>
		 	<option>5</option>
		</select>
		  
 		<div class="input-append date pull-right" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
   			<input class="span2" size="16" type="text" value="20/07/2013">
   		 	<span class="add-on"><i class="icon-calendar"></i></span>
   		</div>
	</div>
 		 <textarea class="input-xlarge span4 pull-right" id="textarea" placeholder="Add note" rows="4"></textarea>
	</div>  
</div>	

<div class="row"> 
	<div class="span8">
		<!--<hr>
		<label class="checkbox"> 
			<input type="checkbox"><small class="text-center">Send Bloom Brother a payment notification email &nbsp;&nbsp; <a> edit default email </a></small>
		</label> <br> 	-->
 		<div class="form-actions">
			 <button type="submit" class="btn btn-success pull-right">Save</button>
			 <button type="button" class="btn">Cancel</button> 
		</div>
	</div>		
</div>

</div>


