

<div class="row">
	<div class="span6">
		<div class="well">
		<h3>Import invoices</h3>
		<p>A csv file cand be used to import invoices. The first row should be the column name. The following columns are allowed: </p>
		<ul>
			<li><strong>date</strong> - date </li>
			<li><strong>number</strong> - string </li>
			<li><strong>due_date</strong> - date</li>
			<li><strong>amount</strong> - float</li>
<!-- 			<li><strong>company_id</strong> - integer </li> -->
			<li><strong>customer_id</strong>- integer</li>
		</ul>
		<%= form_tag import_invoices_path, multipart: true do %>
		    <%= file_field_tag :file %>
		    <%= submit_tag("Import", :class => "btn btn-large btn-success pull-right") %>
		    <% end %>
		</div>
		
		<% if @errors %>
			<div class="alert alert-danger">Error log</div>
			<table class="table table-bordered table-striped">
            <% @errors.each do |error| %>
				<tr>
					<td>Line #</td>
					<td><%= error%></td>
				</tr>

			<% end %>
			</table>
			<% end %>
			</div>

	

	<div class="span6">
		<div class="well"> 
		<h3>Export invoices</h3>
		<p>To export invoices click on the buttom below and you will be downloading a csv containing the data about all registered invoices in your database.</p> 

		  <%= link_to "Export", export_invoices_path(format: "csv"), :class => "btn btn-large btn-warning pull-right" %>
		<div class="clearfix"></div>
		</div>
	</div>
	
</div>