<h3>Invoice # <%= @invoice.number %></h3>
<div class="row">
        <div class="span4">
        <table class="table plain_table">
          <tr>
            <td><h4>Customer info </h4></td>
          </tr>
          <tr>
          <td><%= @customer.first_name %> &nbsp <%= @customer.last_name %></td>
          </tr>
          <tr>
            <td><%= @customer.account %></td>
          </tr>
          <tr>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td><%= @customer.phone %></td>
          </tr>
          <tr>
            <td><%= @customer.address1 %></td>
          </tr>
          <tr>
            <td><%= @customer.description %></td>
          </tr>
        </table>
      </div>


      <div class="span4">

	      <table class="table plain_table">
		      <tr>
			  <h4>Invoice status</h4>
			  </tr>
			  <tr>
			  	<td>Date:</td>
			  	<td><%= @invoice.date %></td>
              </tr>
              <tr>
	              <td>Due date:</td>
	              <td><%= @invoice.due_date %></td>
	          </tr> 
	          <tr>
		          <td>Amount:</td>
		          <td><%= @invoice.amount %></td>
		      </tr>


	   </table> 
	  </div>
</div>


<div class="row">
<a href="#" class="btn btn-large span1">Email</a>
<a href="#" class="btn btn-success btn-large span1">Call</a>
<a href="#" class="btn btn-info btn-large span1">Message</a>
</div>


<div class="acordeon">
<div class="accordion" id="accordion2">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
      <h4>Timeline</h4>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse in">
      <div class="accordion-inner in">
        <% @email_details.each do |email_detail| %>
           Email for invoice# <%= email_detail[:email].invoice_id %> was sent by <%= email_detail[:user].first_name %> &nbsp <%= email_detail[:user].last_name %>
	       <%= email_detail[:email].sent_at.strftime("on %m/%d/%Y") %>
	       <%= email_detail[:email].sent_at.strftime("at %I:%M%p") %>
	       <br>
	        <% if email_detail[:email].viewed_at %>
				 <%= email_detail[:email].viewed_at.strftime("and it was viewed on %m/%d/%Y") %>
				 <%= email_detail[:email].viewed_at.strftime("at %I:%M%p") %>
	        <% end %>
        </p>
        <% end %>
<!--         <p>Difference: <%= @difference %></p> -->
      </div>
    </div>
  </div>
  
  
  
  <% if @invoice %>
       
   <div class="row">
        <div class="span5">
	        <legend class="muted">Invoice details 
	        </legend>
	         <address>
	            <strong><%= @customer.organization_name %></strong><br><br>
			    <strong><%= @customer.first_name + ' ' + @customer.last_name %></strong><br>
			    <%= @customer.email %><br>
			    <%= @customer.phone %>
			    </address>
			     
			    <address>
			    <strong>Address</strong><br>
			    <%= @customer.state %>
			    <%= @customer.city %>
			    <!-- <%= @customer.zip_code %> -->
			    <%= @customer.address1 %>
			    <% if @customer.address2 %>
			     <%= @customer.address2%>
			    <% end %>
			    </address>
			    
			    <address>
			    <strong>Description</strong><br>
			    <%= @customer.description %><br>
			    <strong>Sent to collector:</strong> 
			    <% if @customer.sent_to_collector %>
			    	 Yes
	            <% else %>
	            	 No
	            <% end %>
			    </address>
		
	
        </div>
        
      <div class="span3 pull-right actions well">
      	<h5>Last contact:
      	 <% if @last_action %>
      	   <% if @last_action == 0 %>
      	        today 
      	   <% else %>
	  	   		<%= @last_action %> &nbsp days ago
      	 	<% end %>
      	 <% end %> 
      	 </h5>
	      <h5 class="muted">Account actions:</h5>
	      <a href="#" class="btn btn-success btn-large btn-block"><i class="icon-headphones icon-white"></i> Call</a>
<!--
		<a href="#" class = "btn btn-info btn-large btn-block">
			<i class="icon-envelope icon-white"></i> Send email
        </a>
-->
        <%= link_to send_email_path(@customer.id) , :class => "btn btn-info btn-large btn-block" do %>
	     <i class="icon-envelope icon-white"></i> Send email
	    <% end %>
		
		<a href="#" class="btn btn-warning btn-large btn-block"><i class="icon-comment icon-white"></i> Message</a>
    <% if @customer.sent_to_collector%>
        <a href="#" class="btn btn-danger btn-large btn-block disabled"><i class="icon-exclamation-sign icon-white"></i> Sent to collector</a>
    <% else %>
	    <%= link_to send_to_collector_path(@customer.id) , :class => "btn btn-danger btn-large btn-block" do %>
	     <i class="icon-exclamation-sign icon-white"></i> Send to collector
	    <% end %>
	<% end %>
      </div>
     
  </div>
<!-- end row   -->



<h4 class="muted">Subscription</h4>
<table class="table table-striped table-bordered">
	      <tr>
	      	<th>#</th>
	      	<th>Issue date</th>
	      	<th>Due date</th>
	      	<th>Status</th>
	      	<th>Amount</th>
	      </tr>
</table>


<div class="row">
	<div class="span6">
	<legend>Timeline</legend>
	<ul>
         <% @email_details.each do |email_detail| %>
         <li> 
           Email for invoice# <%= email_detail[:email].invoice_id %> was sent by <%= email_detail[:user].first_name %> &nbsp <%= email_detail[:user].last_name %>
	       <%= email_detail[:email].sent_at.strftime("on %m/%d/%Y") %>
	       <%= email_detail[:email].sent_at.strftime("at %I:%M%p") %>
	       <br>
	        <% if email_detail[:email].viewed_at %>
				 <%= email_detail[:email].viewed_at.strftime("and it was viewed on %m/%d/%Y") %>
				 <%= email_detail[:email].viewed_at.strftime("at %I:%M%p") %>
	        <% end %>
          </li>   
        <% end %>
 

	</ul>
	</div>
	
</div>
</div>
<% end %>
