  
  <% if @invoice %>
       
   <div class="row">
        <div class="span5">
	        <legend class="muted">Invoice details 
	        </legend>
	        <address><strong>Invoice</strong> <%= @invoice.number %></address>
	        <address><strong>Issued on :</strong> <%= @invoice.date %><br>
	        		 <strong>Due on:</strong> <%= @invoice.due_date %><br>
	        		 <strong>Amount:</strong> <%= @invoice.amount %><br>
	        
	        </address>
	         <address>
	            <strong><%= @customer.organization_name %></strong><br><br>
			    <strong><%= @customer.first_name + ' ' + @customer.last_name %></strong><br>
			    <%= @customer.email %><br>
			    <%= @customer.phone %>
			    </address>
			     
			    <address>
			    <strong>Address</strong><br>
			    <%= @customer.state %>
			    <%= @customer.city %>
			    <!-- <%= @customer.zip_code %> -->
			    <%= @customer.address1 %>
			    <% if @customer.address2 %>
			     <%= @customer.address2%>
			    <% end %>
			    </address>
			    
			    <address>
			    <strong>Description</strong><br>
			    <%= @customer.description %><br>
			    <strong>Sent to collector:</strong> 
			    <% if @customer.sent_to_collector %>
			    	 Yes
	            <% else %>
	            	 No
	            <% end %>
			    </address>
		
	
        </div>
        
      <div class="span3 pull-right actions well">

	      <h5 class="muted">Invoice actions:</h5>
	      <a href="#" class="btn btn-success btn-large btn-block"><i class="icon-headphones icon-white"></i> Call</a>
<!--
		<a href="#" class = "btn btn-info btn-large btn-block">
			<i class="icon-envelope icon-white"></i> Send email
        </a>
-->
        <%= link_to send_email_path(@customer.id) , :class => "btn btn-info btn-large btn-block" do %>
	     <i class="icon-envelope icon-white"></i> Send email
	    <% end %>
		
		<a href="#" class="btn btn-warning btn-large btn-block"><i class="icon-comment icon-white"></i> Message</a>
    <% if @customer.sent_to_collector%>
        <a href="#" class="btn btn-danger btn-large btn-block disabled"><i class="icon-exclamation-sign icon-white"></i> Sent to collector</a>
    <% else %>
	    <%= link_to send_to_collector_path(@customer.id) , :class => "btn btn-danger btn-large btn-block" do %>
	     <i class="icon-exclamation-sign icon-white"></i> Send to collector
	    <% end %>
	<% end %>
      </div>
     
  </div>
<!-- end row   -->

<div class="row">
	<div class="span6">
	<legend>Timeline</legend>
	<ul>
         <% @email_details.each do |email_detail| %>
         <li> 
           Email for invoice# <%= email_detail[:email].invoice_id %> was sent by <%= email_detail[:user].first_name %> &nbsp <%= email_detail[:user].last_name %>
	       <%= email_detail[:email].sent_at.strftime("on %m/%d/%Y") %>
	       <%= email_detail[:email].sent_at.strftime("at %I:%M%p") %>
	       <br>
	        <% if email_detail[:email].viewed_at %>
				 <%= email_detail[:email].viewed_at.strftime("and it was viewed on %m/%d/%Y") %>
				 <%= email_detail[:email].viewed_at.strftime("at %I:%M%p") %>
	        <% end %>
          </li>   
        <% end %>
 

	</ul>
	</div>
	
</div>
</div>
<% end %>
