
<div class="span5">

<table class="table plain_table">
<tr>
<h4>Invoice # <%= @invoice.id %></h4>
</tr>
<tr>
  <td>Date:</td>
  <td><%= @invoice.date %></td>
</tr>
<tr>
  <td>Due date:</td>
  <td><%= @invoice.due_date %></td>
</tr> 
<tr>
  <td>Amount:</td>
  <td><%= @invoice.amount %></td>
</tr>
<tr>
  <td>Current balance:</td>
  <td><%= @invoice.current_balance %></td>
</tr>
<tr>
  <td>Customer id:</td>
  <td><%= @invoice.customer_id%></td>
</tr> 
</table> 
 
</div>