

<div class="row">
	<div class="span6">
		<div class="well">
		<h3>Import customers</h3>
		<p>A csv file cand be used to import customers. The first row should be the column name. if the record already exists in the database, it will be updated. The following columns are allowed: </p>
		<ul>
			<li><strong>first_name</strong> - string </li>
			<li><strong>last_name</strong> - string </li>
			<li><strong>email</strong> - string</li>
			<li><strong>phone</strong> - string</li>
			<li><strong>billing_adress</strong> - string </li>
			<li><strong>description</strong>- string</li>
		</ul>
		<%= form_tag import_customers_path, multipart: true do %>
		    <%= file_field_tag :file %>
		    <%= submit_tag("Import", :class => "btn btn-large btn-success pull-right") %>
		    <% end %>
		</div>
		
		<% if @errors %>
			<div class="alert alert-danger">Error log</div>
			<table class="table table-bordered table-striped">
            <% @errors.each do |error| %>
				<tr>
					<td>Line #</td>
					<td><%= error%></td>
				</tr>

			<% end %>
			</table>
			<% end %>
			</div>

	

	<div class="span6">
		<div class="well"> 
		<h3>Export customers</h3>
		<p>To export customers click on the buttom below and you will be downloading a csv containing the data about all registered customers in your database.</p> 

		  <%= link_to "Export", export_customers_path(format: "csv"), :class => "btn btn-large btn-warning pull-right" %>
		<div class="clearfix"></div>
		</div>
	</div>
	
</div>