<div class="span5">


<%= form_for :user, url: 'employee_create', html: {class: "form-horizontal"} do |f| %>
<fieldset>
<legend>Employee account</legend>  

<div class="control-group">
	<%= f.label :first_name, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :first_name, :class => "input-xlarge", :placeholder => "First Name" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :last_name, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :last_name, :class => "input-xlarge", :placeholder => "Last Name" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :email, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :email, :class => "input-xlarge", :placeholder => "Email" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :password, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :first_name, :class => "input-xlarge", :placeholder => "Password" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :password_confirmation, :class => "control-label" %>
	<div class="controls">
		<%= f.text_field :first_confirmation, :class => "input-xlarge", :placeholder => "Password Confirmation" %>
	</div>
</div>
	<%= check_box("user", "salesman") %> Salesman <br>
	<%= check_box("user", "accountant") %> accountant<br>
	<%= check_box("user", "collector") %> collector
	<label class="checkbox inline" for="check">

  <p>
    <%= submit_tag("Create account", :class => "btn btn-info pull-right")%>
  </p>
<% end %>

<!-- Text input-->
</fieldset>
</form>
</div>
<div class="span4 offset1">
				<input type="checkbox" name="optionsCheckbox" id="optionsCheckbox1" value="option1" checked>
				<label class="checkbox inline" for="optionsCheckbox1"><span></span>Option 1</label>

				<input type="checkbox" name="optionsCheckbox" id="optionsCheckbox2" value="option2">
				<label class="checkbox inline" for="optionsCheckbox2"><span></span>Option 2</label>

				<input type="checkbox" name="optionsCheckbox" id="optionsCheckbox3" value="option3">
				<label class="checkbox inline" for="optionsCheckbox3"><span></span>Option 3</label>
			</div>