<h6 class="muted">OPEN INVOICES</h6>
<table class="table table-hover table-striped">
	      <tr>
	      	<th>Invoice number </th>
	      	<th>Issue date</th>
	      	<th>Due date</th>
	      	<th>Amount</th>
	      	<th>Status</th>
	      	<th>Latest Activity</th>
	      </tr>
	      <% if @open_invoices && @open_invoices != [] %>
		      <% @open_invoices.each do |invoice| %>
            <tr data-link="<%= invoice_details_path(invoice[:id])%>">
              <td> <%= invoice.number %></td>
              <td> <%= invoice.date.strftime("%m/%d/%Y") rescue "N/A" %></td>
              <td> <%= invoice.due_date.strftime("%m/%d/%Y") rescue "N/A" %> </td>
              <td>$<%= invoice.amount %></td>
              <td><%= invoice.state %></td>
              <td><%= invoice.latest_activity[0].action_type.upcase rescue "" %></td>
            </tr>
		      <% end %>
          <tr>
            <td colspan="5"></td>
            <td class="span3">
              <span class="amount_info">Total:</span>
              <span class="total_due_amount">$<%= @total_due_amount %></span>
            </td>
          </tr>
		  <% else %>
        <tr><td colspan="6">No data to be displayed yet.</td></tr>
		  <% end %>
</table>

