
<h6 class="muted">3 RECURRING INVOICES</h6>
<table class="table table-hover table-striped">
    <tr>
      <th>Invoice Number</th>
      <th>Issue Date</th>
      <th>Due date</th>
      <th>Amount</th>
      <th>Status</th>
    </tr>
  <% recurring_invoices.each do |recurring_invoice| %>
    <tr>
      <td><%= recurring_invoice.number %></td>
      <td><%= recurring_invoice.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= recurring_invoice.due_date.strftime("%m/%d/%Y") %></td>
      <td><%= recurring_invoice.amount %></td>
      <td><%= recurring_invoice.state.upcase %></td> 
     </tr>
  <% end %>
  <!--
    <tr>
      <td>000273</td>
      <td>21/07/2013</td>
      <td>20/08/2013</td>
      <td>$1945.00</td>
      <td>DUE (1w)</td> 
     
    </tr>
    <tr>
      <td>000249</td>
      <td>21/07/2013</td>
      <td>20/08/2013</td>
      <td>$1945.00</td>
      <td class="text-success">PAID</td>

    </tr>
  -->
</table>
