	<div class="row customer-details">
	
	  <div class="span6" id="editCustomerForm">	   
        <%= form_for @customer, url: customer_update_path, html: { :class => "form" } do |f| %>
        <p>
        <button type="button" class="btn btn-danger" id="closeEditForm"><i class="icon-remove icon-white"></i></button>
        <button type="button" class="btn btn-success pull-right" id="submitEditForm"><i class="icon-ok icon-white"></i> Update</button>
        </p>
        <input type="hidden" name="customerId" value="<%= @customer.id %>"/>
        <div class="alert alert-error" id="errorAjaxDiv">
            
        </div>
            <% if @customer.errors.any? %>
    			<div class="alert alert-error">
    			<h4>Errors:</h4>
    			<ul>
    				<% @customer.errors.full_messages.each do |message| %>
    				<li><%= message %></li>
    				<% end %>
    			</ul>
    			</div>
    		<% end %>
    		<%= render :partial => "user/customer_form", :locals => {:customer => @customer, :f => f} %>    
          <% end %>
    </div>


	  <div class="span6">
		  <button type="button" class="btn pull-right" id="editCustomerButton"><i class="icon-edit"></i> Edit</button>
		  <div id="detailsCustomerForm">
		        <input type="hidden" value="<%= @customer.id %>" id="customerId"/>
	        	<address>		
    	           	<h1 class="organization-name"><%= @customer.organization_name %>
    	           	</h1>
        	       <% if @customer.industry || @customer.company_size %>
    	           	<blockquote>
        	           	<div class="muted">
        	           	     <% if @customer.industry %>
        	           	     <%= @customer.industry %>, 
        	           	     <% end %>
        	           	     
        	           	     <% if @customer.company_size %>
        	           	     <%= @customer.company_size %>
        	           	     <% end %>
        	           	</div>
    	           	</blockquote>
    	           	<% end %>
              <h4><%= @customer.first_name + ' ' + @customer.last_name %></h4><br> 
              <div class="span6">
                <dl class="dl-inline">
                  <dt>Email</dt>  <dd><%= @customer.email %></dd>
                  <dt>Phone</dt>  <dd class="customer-phone"><%= @customer.phone %></dd>
               </dl>
              </div>
            </address>
          <div class="span6">
			    <address>
				<dl class="dl-inline">
			    <dt>Address</dt> 

			    <dd><%= @customer.address1 %> 
					<% if @customer.address2 %>
			     <%= @customer.address2%>
			    <% end %>
			    <%= @customer.zip_code %><br>
			    <%= @customer.city %>,
			   <%= @customer.state %></dd>
			    </dl>
			    </address>
			</div>
			</div>
	 
</div>

         <div class="span3 pull-right actions ">
           	<h5>Last contact:
        	 <% if @last_action %>
        	   <% if @last_action == 0 %>
        	        today 
        	   <% else %>
  	  	   		<%= @last_action %> days ago
        	 	<% end %>
        	 <% end %>
        	 </h5>
			 
	  	 
			 <div class="well">
  	  <!-- <p>Invoice Flow Actions</p>
 	  
        <%= link_to "#", :class => "btn btn-success btn-primary btn-block", :id => "select-call" do %>
          <i class="icon-headphones icon-white"></i> Call
        <% end %>
  -->	 <%= link_to customer_new_invoice_path(@customer.id) , :class => "btn btn-success btn-block" do %><i class="icon-plus-sign icon-white"></i> Add Invoice 
 			<% end %>
        <%= link_to send_email_path(@customer.id) , :class => "btn btn-info btn-primary btn-block" do %>
  	     	 <i class="icon-envelope icon-white "></i> Send Email
  	    <% end %>
  <!--		
  		<a href="#" class="btn btn-warning btn-primary btn-block" id="send_sms_btn"><i class="icon-comment icon-white"></i> Send SMS Text</a>

      <% if @customer.sent_to_collector%>
        <a href="#" class="btn btn-danger btn-primary btn-block disabled">
          <i class="icon-exclamation-sign icon-white"></i> Sent to collector
        </a>
      <% else %>
  	    <%= link_to send_to_collector_path(@customer.id) , :class => "btn btn-danger btn-primary btn-block" do %>
  	     <i class="icon-exclamation-sign icon-white"></i> Send to collector
  	    <% end %>
  	<% end %>
  -->
       	 </div>
      </div> 
 
</div>
  
 <!-- end row   --> 
  <%= render :partial => "salesman/open_invoices" %>

<!-- V4 Static Example of Table -->

<br /><br />

<%= render :partial => "recurring_invoices", :locals => {:recurring_invoices => @recurring_invoices} %>

<br /><br /><br />
<!-- Not for V1 
<%#= render :partial => "recurring_invoices" %>
-->

<div class="row">
 	<div class="span5 well-white">
     <!-- am modificat activity feed de la span5 la span6, deoarece altfel dau erori render-urile de partiale pe actiunile implicite de activity feed; daca ne vom hotari ca este necesar sa fie span5, voi rezolva conflictele de afisare -->
    <div class="row">
    	<div class="span3">
         	<h5 class="muted">Activity Feed</h5>
     	</div> 
       <div class="span5"> 
          <legend></legend>
       </div>
    </div>

    <% if @customer_activities.any? %>
        <% @customer_activities.each do |activity|%>
        <%= render_activity(activity, params = {:page => 'customer'}) %>
        <% end %>
    <% else %>
        <%= render :partial => "partials/no_data" %>
    <% end %>			

	 </div>
	</div>
 
</div>

  
</div>
</div>

</div>
</div>
</div>

