<% if @customer %>
   <div class="row">
        <div class="span5" style="display:none">
	        <legend class="muted">Customer details
		       <%= link_to customer_edit_path(@customer.id), :class => "btn pull-right" do %>
		       		<i class="icon-edit"></i> Edit</a>
				<% end %> 
	        </legend>
	         <address>
	            <strong><%= @customer.organization_name %></strong><br><br>
			    <strong><%= @customer.first_name + ' ' + @customer.last_name %></strong><br>
			    <%= @customer.email %><br>
			    <%= @customer.phone %>
			    </address>
			     
			    <address>
			    <strong>Address</strong><br>
			    <%= @customer.state %>
			    <%= @customer.city %>
			    <!-- <%= @customer.zip_code %> -->
			    <%= @customer.address1 %>
			    <% if @customer.address2 %>
			     <%= @customer.address2%>
			    <% end %>
			    </address>
			    
			    <address>
			    <strong>Description</strong><br>
			    <%= @customer.description %><br>
				<strong>Sent to collector:</strong> 
			    <% if @customer.sent_to_collector %>
			    	 Yes
	            <% else %>
	            	 No
	            <% end %>
			    </address>
				
        </div>
		
	<!--	
       <div class="span8">
		  <ul class="breadcrumb">
		  <li>
		  <%= link_to 'Accounts List',salesman_path %> 
		    <span class="divider">/</span>
		  </li>
		    <% if @customer.organization_name %>
		    <li class="active"><%= @customer.organization_name %></li>
		    <% else %>
		    <li class="active">Home</li>
		    <% end %>
 		  </ul>
		</div>
 	 -->
	<!-- Navigation  
 		<div class="span12"> 
 			<ul class="nav nav-pills">
	  		  <li><a href="#">Accounts List &nbsp; </a></li>
 			  <li class="disabled"><a href="#">Bloom Brothers</a></li> 
			</ul> 
			<legend></legend>
		</div> 
	 end Navigation -->
	 
         <div class="span3 pull-right actions ">
           	<h5>Last contact:
        	 <% if @last_action %>
        	   <% if @last_action == 0 %>
        	        today 
        	   <% else %>
  	  	   		<%= @last_action %> days ago
        	 	<% end %>
        	 <% end %>
        	 </h5>
			 
	  	 
			 <div class="well">
  	  <!-- <p>Invoice Flow Actions</p>
 	  
        <%= link_to "#", :class => "btn btn-success btn-primary btn-block", :id => "select-call" do %>
          <i class="icon-headphones icon-white"></i> Call
        <% end %>
  -->	 <%= link_to customer_new_invoice_path(@customer.id) , :class => "btn btn-success btn-block" do %><i class="icon-plus-sign icon-white"></i> Add Invoice 
 			<% end %>		   	  
        <%= link_to send_email_path(@customer.id) , :class => "btn btn-info btn-primary btn-block" do %>
  	     	 <i class="icon-envelope icon-white "></i> Send Email
  	    <% end %>
  <!--		
  		<a href="#" class="btn btn-warning btn-primary btn-block" id="send_sms_btn"><i class="icon-comment icon-white"></i> Send SMS Text</a>

      <% if @customer.sent_to_collector%>
        <a href="#" class="btn btn-danger btn-primary btn-block disabled">
          <i class="icon-exclamation-sign icon-white"></i> Sent to collector
        </a>
      <% else %>
  	    <%= link_to send_to_collector_path(@customer.id) , :class => "btn btn-danger btn-primary btn-block" do %>
  	     <i class="icon-exclamation-sign icon-white"></i> Send to collector
  	    <% end %>
  	<% end %>
  -->
       	 </div>
      </div> 
		
 		<div class="row">
		  <div class="span6 well-white">
 		  <div class="span6"> 
 
		       <%= link_to customer_edit_path(@customer.id), :class => "btn pull-right" do %>
		       		<i class= "icon-edit"></i></a>
				<% end %>  
	        	<address>		
    	           	<h1 class="organization-name"><%= @customer.organization_name %>
    	           	</h1>
        	       <% if @customer.industry || @customer.company_size %>
    	           	<blockquote>
        	           	<div class="muted">
        	           	     <% if @customer.industry %>
        	           	     <%= @customer.industry %>, 
        	           	     <% end %>
        	           	     
        	           	     <% if @customer.company_size %>
        	           	     <%= @customer.company_size %>
        	           	     <% end %>
        	           	</div>
    	           	</blockquote>
    	           	<% end %>
              <h4><%= @customer.first_name + ' ' + @customer.last_name %></h4><br> 
              <div class="span6">
                <dl class="dl-inline">
                  <dt>Email</dt>  <dd><%= @customer.email %></dd>
                  <dt>Phone</dt>  <dd class="customer-phone"><%= @customer.phone %></dd>
               </dl>
              </div>
            </address>
          <div class="span6">
			    <address>
				<dl class="dl-inline">
			    <dt>Address</dt> 

			    <dd><%= @customer.address1 %> 
					<% if @customer.address2 %>
			     <%= @customer.address2%>
			    <% end %>
			    <%= @customer.zip_code %><br>
			    <%= @customer.city %>,
			   <%= @customer.state %></dd>
			    </dl>
			    </address>
			</div>
		</div>
 		
 		<!--	<div class="span4 pull-left">
			    <address>
			<strong>Description</strong><br>
			    <%= @customer.description %><br> -->
	<!--		    <strong>Sent to collector:</strong> 
			    <% if @customer.sent_to_collector %>
			    	 Yes
	            <% else %>
	            	 No
	            <% end %>
			    </address>
			</div> -->
        </div>   
</div> 
</div>
  
 <!-- end row   --> 
<!--
<%= link_to customer_new_invoice_path(@customer.id) , :class => "btn btn-success pull-right span2" do %>
	     <i class="icon-plus-sign icon-white"></i> Add Invoice 
<% end %><br><br>
 -->
<h6 class="muted">OPEN INVOICES</h6>
<table class="table table-hover table-striped">
		<!--	
		<% if @customer_last_invoice %>
	      <tr><td>Last invoice:</td><td><%= @customer_last_invoice.date %></td></tr>
	      <% end %>
	      <tr>
-->
	      <tr>
	      	<th>Invoice number </th>
	      	<th>Issue date</th>
	      	<th>Due date</th>
	      	<th>Amount</th>
	      	<th>Status</th>
	      	<th>Latest Activity</th>
	      </tr>
	      <% if @open_invoices && @open_invoices != [] %>
		      <% @open_invoices.each do |invoice| %>
		      <tr data-link="<%= invoice_details_path(invoice[:id])%>">
		      <td> <%= invoice[:number] %></td>
		      <td> <%= invoice[:date].strftime("%m/%d/%Y") %></td>
		      <td> <%= invoice[:due_date].strftime("%m/%d/%Y") %> </td>
		      <td>$<%= invoice[:due_amount] %></td>
		      <td></td>
		      <td><% if invoice[:latest_activity] %>
		            <%= invoice[:latest_activity].action_type.upcase %>
                   <% end %>
		      </td>
		      </tr>
		      <% end %>
	      
		  <tr>
		  	<td colspan="5"></td>
		  	<td class="span3">
		  		<span class="amount_info">Total:</span>
		  	    <span class="total_due_amount">$<%= @total_due_amount %></span>
		  	 </td>
		  </tr>
		  <% else %>
		  <tr><td colspan="6"><%= render :partial => "partials/no_data" %></td>
		  </tr>
		  <% end %>
		    
</table>
<br>

<!-- V4 Static Example of Table -->
 
<!--
<h6 class="muted">5 OPEN INVOICES</h6>
<table class="table table-hover table-striped">
  <tr>
	  <th>Invoice Number</th>
	  <th>Issue Date</th>
	  <th>Due Date</th>
	  <th>Amount</th>
	  <th>Status</th>
	  <th>Latest Activity</th>
  </tr>
  <tr>
	  <td>000190</td>
	  <td>21/07/2013</td>
	  <td>20/08/2013</td>
	  <td>$805.00</td>
 	  <td class="muted">DRAFT</td>
	  <td><i></i></td>
  </tr>
  <tr>
	  <td>000283</td>
	  <td>21/07/2013</td>
	  <td>20/08/2013</td>
	  <td>$645.00</td>
	  <td>DUE (1 wk)</td>
	  <td class="muted">SMS / Remainder</td>
   </tr>
  <tr>
	  <td>000233</td>
	  <td>21/07/2013</td>
	  <td>20/08/2013</td>
	  <td>$1945.00</td>
	  <td class="text-error">OVERDUE (2d)</td>
 	  <td class="muted">Email / Remainder</td>
  </tr>
  <tr>
	  <td>000293</td>
	  <td>21/07/2013</td>
	  <td>20/08/2013</td>
	  <td>$1945.00</td>
 	  <td class="text-success">PAID</td>
 	  <td class="muted"><i></i></td>
  </tr>
  <tr>
	  <td>000243</td>
	  <td>21/07/2013</td>
	  <td>20/08/2013</td>
	  <td>$1945.00</td>
 	  <td class="text-success">PAID</td>
 	  <td>Email / Thank You</td> 
  </tr>
  <tr></tr>
  <tr>
  	<td colspan="5"></td>
  	<td class="span3">
  		<span class="amount_info">Total:</span>
  	    <span class="total_due_amount">$<%= @total_due_amount %></span>
  	 </td>
  </tr>
 
</table> 
-->
<br><br> 

<h6 class="muted">3 RECURRING INVOICES</h6>
<table class="table table-hover table-striped">
	      <tr>
	      	<th>Invoice Number</th>
			<th>Issue Date</th>
	      	<th>Due date</th>
	      	<th>Amount</th>
	      	<th>Status</th>
	      </tr>
		  <tr>
			  <td>000283</td>
			  <td>21/07/2013</td>
			  <td>20/08/2013</td>
			  <td>$645.00</td>
			  <td>SENT</td> 
		   </tr>
		  <tr>
			  <td>000273</td>
			  <td>21/07/2013</td>
			  <td>20/08/2013</td>
			  <td>$1945.00</td>
 		 	  <td>DUE (1w)</td> 
			 
		  </tr>
		  <tr>
			  <td>000249</td>
			  <td>21/07/2013</td>
			  <td>20/08/2013</td>
			  <td>$1945.00</td>
		 	  <td class="text-success">PAID</td>
		 
		  </tr>
</table><br><br><br>

<div class="row">
 	<div class="span5 well-white">
	
	<!-- Static Example Activity Feed -->
<!---- am modificat activity feed de la span5 la span6, deoarece altfel dau erori render-urile de partiale pe actiunile implicite de activity feed; daca ne vom hotari ca este necesar sa fie span5, voi rezolva conflictele de afisare -->
	<div class="row">
	  		<div class="span3">
	  	 <h5 class="muted">Activity Feed</h5>
			</div>
			<!-- Activity Feed Calendar Filter -->

	 	<div class="span2">
	   		<div class="pull-right">
	   			<div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
	   		  	  <input class="span2" size="16" type="text" value="20/07/2013">
	   		  	  <span class="add-on"><i class="icon-calendar"></i></span>
	   			</div>
	   	 	</div> 
	   	</div>
	   <div class="span5"> 
		    <legend></legend>
	   </div>
	   <!-- end Activity Feed Calendar Filter --> 
	</div>  
 
<% if @customer_activities != [] %>
    <% @customer_activities.each do |activity|%>
    <%= render_activity(activity, params = {:page => 'customer'}) %>
    <% end %>
<% else %>
   	<%= render :partial => "partials/no_data" %>
<% end %>			
  
	 </div>
   
 
	</div>
 
</div>

  
</div>
</div>

</div>
</div>
<% end %> 
