<% if @customer %>
       
   <div class="row">
        <div class="span5">
	        <legend class="muted">Customer details
		       <%= link_to customer_edit_path(@customer.id), :class => "btn pull-right" do %>
		       		<i class="icon-edit"></i> Edit</a>
				<% end %> 
	        </legend>
	         <address>
	            <strong><%= @customer.organization_name %></strong><br><br>
			    <strong><%= @customer.first_name + ' ' + @customer.last_name %></strong><br>
			    <%= @customer.email %><br>
			    <%= @customer.phone %>
			    </address>
			     
			    <address>
			    <strong>Address</strong><br>
			    <%= @customer.state %>
			    <%= @customer.city %>
			    <!-- <%= @customer.zip_code %> -->
			    <%= @customer.address1 %>
			    <% if @customer.address2 %>
			     <%= @customer.address2%>
			    <% end %>
			    </address>
			    
			    <address>
			    <strong>Description</strong><br>
			    <%= @customer.description %><br>
			    <strong>Sent to collector:</strong> 
			    <% if @customer.sent_to_collector %>
			    	 Yes
	            <% else %>
	            	 No
	            <% end %>
			    </address>
		
	
        </div>
        
      <div class="span3 pull-right actions well">
      	<h5>Last contact:
      	 <% if @last_action %>
      	   <% if @last_action == 0 %>
      	        today 
      	   <% else %>
	  	   		<%= @last_action %> &nbsp days ago
      	 	<% end %>
      	 <% end %> 
      	 </h5>
	      <h5 class="muted">Account actions:</h5>
	      <a href="#" class="btn btn-success btn-large btn-block"><i class="icon-headphones icon-white"></i> Call</a>
<!--
		<a href="#" class = "btn btn-info btn-large btn-block">
			<i class="icon-envelope icon-white"></i> Send email
        </a>
-->
        <%= link_to send_email_path(@customer.id) , :class => "btn btn-info btn-large btn-block" do %>
	     <i class="icon-envelope icon-white"></i> Send email
	    <% end %>
		
		<a href="#" class="btn btn-warning btn-large btn-block"><i class="icon-comment icon-white"></i> Message</a>
    <% if @customer.sent_to_collector%>
        <a href="#" class="btn btn-danger btn-large btn-block disabled"><i class="icon-exclamation-sign icon-white"></i> Sent to collector</a>
    <% else %>
	    <%= link_to send_to_collector_path(@customer.id) , :class => "btn btn-danger btn-large btn-block" do %>
	     <i class="icon-exclamation-sign icon-white"></i> Send to collector
	    <% end %>
	<% end %>
      </div>
     
  </div>
<!-- end row   -->


<%= link_to customer_new_invoice_path(@customer.id) , :class => "btn btn-success pull-right span2" do %>
	     <i class="icon-plus-sign icon-white"></i> Invoice
<% end %>
	    
<h4 class="muted">Open invoices</h4>
<table class="table table-striped table-bordered">
		<!--	
		<% if @customer_last_invoice %>
	      <tr><td>Last invoice:</td><td><%= @customer_last_invoice.date %></td></tr>
	      <% end %>
	      <tr>
-->
	      <tr>
	      	<th>#</th>
	      	<th>Issue date</th>
	      	<th>Due date</th>
	      	<th>Status</th>
	      	<th>Amount</th>
	      </tr>
	      <% if @open_invoices %>
		      <% @open_invoices.each do |invoice| %>
		      <tr>
		      <td> <%= invoice[:number] %></td>
		      <td> <%= invoice[:date] %></td>
		      <td> <%= invoice[:due_date] %> </td>
		      <td> </td>
		      <td> $<%= invoice[:due_amount] %> </td>
		      </tr>
		      <% end %>
	      <% end %>
<!-- 		      <td><button class="modalButton btn btn-success" id="1"><i class="icon-plus-sign icon-white"></i> Create invoice</button></td> -->
		  <tr>
		  	<td colspan="4"></td>
		  	<td class="span3"><h5><strong class="muted">Due amount: </strong>$ <%= @total_due_amount %><h4></td>
		  </tr>
		    
</table>

<h4 class="muted">Subscription</h4>
<table class="table table-striped table-bordered">
	      <tr>
	      	<th>#</th>
	      	<th>Issue date</th>
	      	<th>Due date</th>
	      	<th>Status</th>
	      	<th>Amount</th>
	      </tr>
</table>


<div class="row">
	<div class="span6">
	<legend>Timeline</legend>
	<ul>
         <% @email_details.each do |email_detail| %>
         <li> 
           Email for invoice# <%= email_detail[:email].invoice_id %> was sent by <%= email_detail[:user].first_name %> &nbsp <%= email_detail[:user].last_name %>
	       <%= email_detail[:email].sent_at.strftime("on %m/%d/%Y") %>
	       <%= email_detail[:email].sent_at.strftime("at %I:%M%p") %>
	       <br>
	        <% if email_detail[:email].viewed_at %>
				 <%= email_detail[:email].viewed_at.strftime("and it was viewed on %m/%d/%Y") %>
				 <%= email_detail[:email].viewed_at.strftime("at %I:%M%p") %>
	        <% end %>
          </li>   
        <% end %>
 

	</ul>
	</div>
	
	<div class="span6">
	<legend>Future actions</legend>
	</div>
</div>
	      
  <div class="acordeon">
<div class="accordion" id="accordion2">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <h4>All invoices</h4>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <% @invoices.each do |invoice|%>
        <div class="well">
        <p># <%= invoice.number %> -
        Date: <%= invoice.date %> - 
        Amount: <%= invoice.amount %><%= %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  
</div>
</div>

<div class="modal hide fade" id="modal1">
<div class="form-horizontal">
  <%= form_for :invoice, url: '/invoice_create', :class => "form-horizontal" do |f|%>

  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Add invoice</h4>
          
	<div class="input-prepend control-group">
		<%= f.label :amount, :class => "control-label" %>
		<div class="controls">
		    <span class="add-on">$</span>
			<%= f.text_field :amount, :class => "input-xlarge amount", :placeholder => "Amount" %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :due_date, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :due_date, :class => "datepicker input-xlarge", :placeholder => "Due date" %>
		</div>
	</div>
	<%= f.hidden_field :customer_id, :value => @customer.id %>
	<%= f.hidden_field :customer_email, :value => @customer.email %>
	<%= f.hidden_field :customer_name, :value => @customer.first_name + ' ' + @customer.last_name  %>
  	<hr>
	
  <h4>Services</h4>
  <%= f.fields_for :service_1 do |f| %>
  <div class="control-group">
		<%= f.label :service_name, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :service_name, :class => "input-medium", :placeholder => "Service name" %>
			<%= f.text_field :service_value, :class => "span1", :placeholder => "Value" %>
			<%= f.text_field :service_qty, :class => "span1", :placeholder => "Qty" %>
		</div>
	</div>
 
  <% end %>
  
  <%= f.fields_for :service_2 do |f| %>
  <div class="control-group">
		<%= f.label :service_name, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :service_name, :class => "input-medium", :placeholder => "Service name" %>
			<%= f.text_field :service_value, :class => "span1", :placeholder => "Value" %>
			<%= f.text_field :service_qty, :class => "span1", :placeholder => "Qty" %>
		</div>
	</div>
  </div>
  <% end %>
  </div>  <!--##### end modal container #########-->
  
  <div class="modal-footer">
      <button type="button" class="btn btn-danger span2 pull-left" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <%= submit_tag("Add", :class => "btn btn-info span2 pull-right") %>

  </div>
  
  <% end %>  <!-- #form end -->
</div>
</div>
<% end %>