<% if @customer %>
<div class="well">
   <div class="row">
        <div class="span5">
	        <h4 class="muted">Customer details</h4>
	        <table class="table">
	          <tr>
	          	<th>First name</th>
	            <td><%= @customer.first_name %></td>
	          </tr>
	          <tr>
	          	<th>Last name</th>
	            <td><%= @customer.last_name %></td>
	          </tr>
	          <tr>
	          	<th>ID</th>
	            <td><%= @customer.id %></td>
	          </tr>
	          <tr>
	          	<th>Email</th>
	            <td><%= @customer.email %></td>
	          </tr>
	          <tr>
	          	<th>Phone</th>
	            <td><%= @customer.phone %></td>
	          </tr>
	          <tr>
	          	<th>Billing Address</th>
	            <td><%= @customer.billing_address %></td>
	          </tr>
	          <tr>
	          	<th>Description</th>
	            <td><%= @customer.description %></td>
	          </tr>
	        </table>
        </div>
        
      <div class="span5">
	      <h4 class="muted" >Account info</h4>
	      <table class="table plain_table">
	      <tr>
	      <td>Due amount: &nbsp<%= @total_due_amount %> </td>
	      <td></td>
	      </tr>
	      <% if @open_invoices %>
		      <tr>
		      <td>Open invoices: </td>
		      </tr>
		      <% @open_invoices.each do |invoice| %>
		      <tr>
		      <td> $<%= invoice[:due_amount] %> </td>
		      <td> <%= invoice[:number] %></td>
		      </tr>
		      <% end %>
	      <% end %>
	      <tr>
		      <td><button class="modalButton btn btn-success" id="1"><i class="icon-plus-sign icon-white"></i> Create invoice</button></td>
	      </tr>
	      </table>
      </div>
     
  </div>
</div>

<div class="row">
	<div class="span10 offset1">
	<div class="row">
		<h4 class="muted span2">Actions:</h4>
		<%= link_to send_email_path, :class => "btn btn-info btn-large btn-block span2" do %>
			<i class="icon-envelope icon-white"></i> Email
		<% end %>
		<a href="#" class="btn btn-success btn-large btn-block span2"><i class="icon-comment icon-white"></i> Message</a>
		<a href="#" class="btn btn-warning btn-large btn-block span2"><i class="icon-headphones icon-white"></i> Call</a>
		<a href="#" class="btn btn-danger btn-large btn-block span2"><i class="icon-exclamation-sign icon-white"></i> Send to collector</a>
      </div>
	</div>
</div>

	
  <div class="acordeon">
<div class="accordion" id="accordion2">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <h4>Invoices</h4>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <% @invoices.each do |invoice|%>
        <div class="well">
        <p>Number: <%= invoice.number %></p>
        <p>Date: <%= invoice.date %></p>
        <p>Amount: <%= invoice.amount %><%= %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
      <h4>Timeline</h4>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
	      Previous actions from multiple invoices.
      </div>
    </div>
  </div>

  
</div>
</div>

<div class="modal hide fade" id="modal1">
<div class="form-horizontal">
  <%= form_for :invoice, url: '/invoice_create', :class => "form-horizontal" do |f|%>

  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Add invoice</h4>
          
	<div class="input-prepend control-group">
		<%= f.label :amount, :class => "control-label" %>
		<div class="controls">
		    <span class="add-on">$</span>
			<%= f.text_field :amount, :class => "input-xlarge amount", :placeholder => "Amount" %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :due_date, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :due_date, :class => "datepicker input-xlarge", :placeholder => "Due date" %>
		</div>
	</div>
	<%= f.hidden_field :customer_id, :value => @customer_id %>
  	<hr>
	
  <h4>Services</h4>
  <%= f.fields_for :service_1 do |f| %>
  <div class="control-group">
		<%= f.label :service_name, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :service_name, :class => "input-medium", :placeholder => "Service name" %>
			<%= f.text_field :service_value, :class => "span1", :placeholder => "Value" %>
			<%= f.text_field :service_qty, :class => "span1", :placeholder => "Qty" %>
		</div>
	</div>
 
  <% end %>
  
  <%= f.fields_for :service_2 do |f| %>
  <div class="control-group">
		<%= f.label :service_name, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :service_name, :class => "input-medium", :placeholder => "Service name" %>
			<%= f.text_field :service_value, :class => "span1", :placeholder => "Value" %>
			<%= f.text_field :service_qty, :class => "span1", :placeholder => "Qty" %>
		</div>
	</div>
  </div>
  <% end %>
  </div>  <!--##### end modal container #########-->
  
  <div class="modal-footer">
      <button type="button" class="btn btn-danger span2 pull-left" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <%= submit_tag("Add", :class => "btn btn-info span2 pull-right") %>

  </div>
  
  <% end %>  <!-- #form end -->
</div>
</div>
<% end %>