<% if @customer %>
           
   <div class="row">
        <div class="span5" style="display:none">
	        <legend class="muted">Customer details
		       <%= link_to customer_edit_path(@customer.id), :class => "btn pull-right" do %>
		       		<i class="icon-edit"></i> Edit</a>
				<% end %> 
	        </legend>
	         <address>
	            <strong><%= @customer.organization_name %></strong><br><br>
			    <strong><%= @customer.first_name + ' ' + @customer.last_name %></strong><br>
			    <%= @customer.email %><br>
			    <%= @customer.phone %>
			    </address>
			     
			    <address>
			    <strong>Address</strong><br>
			    <%= @customer.state %>
			    <%= @customer.city %>
			    <!-- <%= @customer.zip_code %> -->
			    <%= @customer.address1 %>
			    <% if @customer.address2 %>
			     <%= @customer.address2%>
			    <% end %>
			    </address>
			    
			    <address>
			    <strong>Description</strong><br>
			    <%= @customer.description %><br>
			    <strong>Sent to collector:</strong> 
			    <% if @customer.sent_to_collector %>
			    	 Yes
	            <% else %>
	            	 No
	            <% end %>
			    </address>
        </div>
        
        
      <div class="span5">
	        <legend class="muted">Customer details
		       <%= link_to customer_edit_path(@customer.id), :class => "btn pull-right" do %>
		       		<i class="icon-edit"></i> Edit</a>
				<% end %> 
	        </legend>
	         <address>
	            Organization: <strong><%= @customer.organization_name %></strong><br><br>
			    Name: <strong><%= @customer.first_name + ' ' + @customer.last_name %></strong><br>
			    Email: <strong><%= @customer.email %></strong><br>
			    Phone: <strong><%= @customer.phone %></strong>
			    </address>
			     
			    <address>
			    <strong>Address</strong><br>
			   
			    <%= @customer.address1 %>
			    <% if @customer.address2 %>
			     <%= @customer.address2%>
			    <% end %>
			    <%= @customer.zip_code %><br>
			    <%= @customer.city %>,
			    <%= @customer.state %>
			    </address>
			    
			    <address>
			    <strong>Description</strong><br>
			    <%= @customer.description %><br>
			    <strong>Sent to collector:</strong> 
			    <% if @customer.sent_to_collector %>
			    	 Yes
	            <% else %>
	            	 No
	            <% end %>
			    </address>
        </div>
        
        
        
      <div class="span3 pull-right actions">
      	<h5>Last contact:
      	 <% if @last_action %>
      	   <% if @last_action == 0 %>
      	        today 
      	   <% else %>
	  	   		<%= @last_action %> &nbsp days ago
      	 	<% end %>
      	 <% end %> 
      	 </h5>
	      <h5 class="muted">Account actions:</h5>
	      <a href="#" class="btn btn-success btn-large btn-block"><i class="icon-headphones icon-white"></i> Call</a>
<!--
		<a href="#" class = "btn btn-info btn-large btn-block">
			<i class="icon-envelope icon-white"></i> Send email
        </a>
-->
        <%= link_to send_email_path(@customer.id) , :class => "btn btn-info btn-large btn-block" do %>
	     <i class="icon-envelope icon-white"></i> Send email
	    <% end %>
		
		<a href="#" class="btn btn-warning btn-large btn-block"><i class="icon-comment icon-white"></i> Message</a>
    <% if @customer.sent_to_collector%>
        <a href="#" class="btn btn-danger btn-large btn-block disabled"><i class="icon-exclamation-sign icon-white"></i> Sent to collector</a>
    <% else %>
	    <%= link_to send_to_collector_path(@customer.id) , :class => "btn btn-danger btn-large btn-block" do %>
	     <i class="icon-exclamation-sign icon-white"></i> Send to collector
	    <% end %>
	<% end %>
      </div>
     
  </div>
<!-- end row   -->


<%= link_to customer_new_invoice_path(@customer.id) , :class => "btn btn-success pull-right span2" do %>
	     <i class="icon-plus-sign icon-white"></i> Invoice
<% end %>
	    
<h4 class="muted">Open invoices</h4>
<table class="table table-hover">
		<!--	
		<% if @customer_last_invoice %>
	      <tr><td>Last invoice:</td><td><%= @customer_last_invoice.date %></td></tr>
	      <% end %>
	      <tr>
-->
	      <tr>
	      	<th>#</th>
	      	<th>Issue date</th>
	      	<th>Due date</th>
	      	<th>Status</th>
	      	<th><span class="pull-right">Amount</span></th>
	      </tr>
	      <% if @open_invoices %>
		      <% @open_invoices.each do |invoice| %>
		      <tr>
		      <td> <%= invoice[:number] %></td>
		      <td> <%= invoice[:date] %></td>
		      <td> <%= invoice[:due_date] %> </td>
		      <td> <span class="label label-warning">Pending</span></td>
		      <td><span class="pull-right"> $<%= invoice[:due_amount] %> </span></td>
		      </tr>
		      <% end %>
	      <% end %>
<!-- 		      <td><button class="modalButton btn btn-success" id="1"><i class="icon-plus-sign icon-white"></i> Create invoice</button></td> -->
		  <tr>
		  	<td colspan="4"></td>
		  	<td class="span3">
		  		<span class="amount_info">Total:</span>
		  	    <span class="total_due_amount">$<%= @total_due_amount %></span>
		  	 </td>
		  </tr>
		    
</table>

<h4 class="muted">Subscription</h4>
<table class="table table-hover">
	      <tr>
	      	<th>#</th>
	      	<th>Issue date</th>
	      	<th>Due date</th>
	      	<th>Status</th>
	      	<th>Amount</th>
	      </tr>
</table>


<div class="row">
	<div class="span6">
	<legend>Timeline</legend>
	<ul>
         <% @action_details.each do |action_detail| %>
         <li> 
           Email for invoice# <%= action_detail[:invoice].number %> was sent by <%= action_detail[:user].first_name %> &nbsp <%= action_detail[:user].last_name %>
	       <%= action_detail[:email].sent_at.strftime("on %m/%d/%Y") %>
	       <%= action_detail[:email].sent_at.strftime("at %I:%M%p") %>
	       <br>
	        <% if action_detail[:email].viewed_at %>
				 <%= action_detail[:email].viewed_at.strftime("and it was viewed on %m/%d/%Y") %>
				 <%= action_detail[:email].viewed_at.strftime("at %I:%M%p") %>
	        <% end %>
          </li>   
        <% end %>
 

	</ul>
	</div>
	
	<div class="span6">
	<legend>Future actions</legend>
	</div>
</div>
	      
  <div class="acordeon">
<div class="accordion" id="accordion2">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <h4>All invoices</h4>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <% @invoices.each do |invoice|%>
        <div class="well">
        <p># <%= invoice.number %> -
        Date: <%= invoice.date %> - 
        Amount: <%= invoice.amount %><%= %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  
</div>
</div>

</div>
</div>
<% end %>