<% if @customer %>
   <div class="row">
        <div class="span5" style="display:none">
	        <legend class="muted">Customer details
		       <%= link_to customer_edit_path(@customer.id), :class => "btn pull-right" do %>
		       		<i class="icon-edit"></i> Edit</a>
				<% end %> 
	        </legend>
	         <address>
	            <strong><%= @customer.organization_name %></strong><br><br>
			    <strong><%= @customer.first_name + ' ' + @customer.last_name %></strong><br>
			    <%= @customer.email %><br>
			    <%= @customer.phone %>
			    </address>
			     
			    <address>
			    <strong>Address</strong><br>
			    <%= @customer.state %>
			    <%= @customer.city %>
			    <!-- <%= @customer.zip_code %> -->
			    <%= @customer.address1 %>
			    <% if @customer.address2 %>
			     <%= @customer.address2%>
			    <% end %>
			    </address>
			    
			    <address>
			    <strong>Description</strong><br>
			    <%= @customer.description %><br>
				<strong>Sent to collector:</strong> 
			    <% if @customer.sent_to_collector %>
			    	 Yes
	            <% else %>
	            	 No
	            <% end %>
			    </address>
				
        </div>
		
      <div class="span8">
		  <ul class="breadcrumb">
		    <li><a href="#">Accounts List</a><span class="divider">/</span></li>
		    <li class="active">Bloom Brothers</li>
 		  </ul>
		  <div class="well-white">
	      <!--  <legend class="muted"> Customer details </legend> -->
		       <%= link_to customer_edit_path(@customer.id), :class => "btn pull-right" do %>
		       		<i class= "icon-edit"></i></a>
				<% end %> 
	        
	        	<address>		
	           	 <h1><%= @customer.organization_name %></h1><blockquote><div class="muted">Internet Publishing, 25-50 employees</div></blockquote>
			 	 <h4><%= @customer.first_name + ' ' + @customer.last_name %></h4><br> 
			    
					<div class="span6">
 							<dl class="dl-inline">
				 <dt>Email</dt>  <dd><%= @customer.email %></dd>
			     <dt>Phone</dt>  <dd><%= @customer.phone %></dd>
				 </dl>
			</div>
  
		 
			    </address>
			    <div class="span6">
			    <address>
				<dl class="dl-inline">
			    <dt>Address</dt> 
			   
			    <dd><%= @customer.address1 %> 
					<% if @customer.address2 %>
			     <%= @customer.address2%>
			    <% end %>
			    <%= @customer.zip_code %><br>
			    <%= @customer.city %>,
			   <%= @customer.state %></dd>
			    </dl>
			    </address>
			</div>
 		
 		<!--	<div class="span4 pull-left">
			    <address>
			<strong>Description</strong><br>
			    <%= @customer.description %><br> -->
	<!--		    <strong>Sent to collector:</strong> 
			    <% if @customer.sent_to_collector %>
			    	 Yes
	            <% else %>
	            	 No
	            <% end %>
			    </address>
			</div> -->
        </div>  
	</div>
	
        
     
        
      <div class="span3 pull-right actions ">
		  
        	<h5>Last contact:
      	 <% if @last_action %>
      	   <% if @last_action == 0 %>
      	        today 
      	   <% else %>
	  	   		<%= @last_action %> &nbsp days ago
      	 	<% end %>
      	 <% end %>
      	 </h5>
 		
		 <div class="well">
	      <p>Invoice Flow Actions</p>
 		  <a href="#" class="btn btn-success btn-primary btn-block"><i class="icon-headphones icon-white"></i> Call</a>
<!--
		<a href="#" class = "btn btn-info btn-large btn-block">
			<i class="icon-envelope icon-white"></i> Send email
        </a>
-->		
		 
        <%= link_to send_email_path(@customer.id) , :class => "btn btn-info btn-primary btn-block" do %>
	     <i class="icon-envelope icon-white "></i> Send Email
	    <% end %>
		
		<a href="#" class="btn btn-warning btn-primary btn-block"><i class="icon-comment icon-white"></i> Send SMS Text</a>
    <% if @customer.sent_to_collector%>
        <a href="#" class="btn btn-danger btn-primary btn-block disabled"><i class="icon-exclamation-sign icon-white"></i> Sent to collector</a>
    <% else %>
	    <%= link_to send_to_collector_path(@customer.id) , :class => "btn btn-danger btn-primary btn-block" do %>
	     <i class="icon-exclamation-sign icon-white"></i> Send to collector
	    <% end %>
	<% end %>
      </div>
   </div> 
</div>
  
 <!-- end row   -->
 

<%= link_to customer_new_invoice_path(@customer.id) , :class => "btn btn-success pull-right span2" do %>
	     <i class="icon-plus-sign icon-white"></i> Add Invoice 
<% end %><br><br>

<h6 class="muted">OPEN INVOICES</h6>
<table class="table table-hover table-striped">
		<!--	
		<% if @customer_last_invoice %>
	      <tr><td>Last invoice:</td><td><%= @customer_last_invoice.date %></td></tr>
	      <% end %>
	      <tr>
-->
	      <tr>
	      	<th>#</th>
	      	<th>Issue date</th>
	      	<th>Due date</th>
	      	<th>Status</th>
	      	<th><span class="pull-right">Amount</span></th>
	      </tr>
	      <% if @open_invoices %>
		      <% @open_invoices.each do |invoice| %>
		      <tr data-link="<%= invoice_details_path(invoice[:id])%>">
		      <td> <%= invoice[:number] %></td>
		      <td> <%= invoice[:date] %></td>
		      <td> <%= invoice[:due_date] %> </td>
		      <td> <span class="label label-warning">Pending</span></td>
		      <td><span class="pull-right"> $<%= invoice[:due_amount] %> </span></td>
		      </tr>
		      <% end %>
	      <% end %>
<!-- 		      <td><button class="modalButton btn btn-success" id="1"><i class="icon-plus-sign icon-white"></i> Create invoice</button></td> -->
		  <tr>
		  	<td colspan="4"></td>
		  	<td class="span3">
		  		<span class="amount_info">Total:</span>
		  	    <span class="total_due_amount">$<%= @total_due_amount %></span>
		  	 </td>
		  </tr>
		    
</table>


<br>

<!-- Static Example of Table -->
 
<h6 class="muted">7 OPEN INVOICES</h6>
<table class="table table-hover table-striped">
  <tr>
	  <th>Invoice Number</th>
	  <th>Issue Date</th>
	  <th>Due Date</th>
	  <th>Amount</th>
	  <th>Status</th>
	  <th>Latest Activity</th>
  </tr>
  <tr>
	  <td>000190</td>
	  <td>21/07/2013</td>
	  <td>20/08/2013</td>
	  <td>$805.00</td>
 	  <td class="muted">DRAFT</td>
	  <td><i></i></td>
  </tr>
  <tr>
	  <td>000283</td>
	  <td>21/07/2013</td>
	  <td>20/08/2013</td>
	  <td>$645.00</td>
	  <td>DUE (1 wk)</td>
	  <td class="muted">SMS / Remainder</td>
   </tr>
  <tr>
	  <td>000233</td>
	  <td>21/07/2013</td>
	  <td>20/08/2013</td>
	  <td>$1945.00</td>
	   <td><span class="badge badge-important">OVERDUE (2d)</span>&nbsp;<span class="badge badge-important"></td>
<!--  <td>OVERDUE (2d)</td> -->
	  <td class="muted">Email / Remainder</td>
  </tr>
  <tr class="success">
	  <td>000293</td>
	  <td>21/07/2013</td>
	  <td>20/08/2013</td>
	  <td>$1945.00</td>
 	  <td>PAID</td>
 	  <td class="muted"><i></i> </td>
  </tr>
  <tr>
	  <td>000243</td>
	  <td>21/07/2013</td>
	  <td>20/08/2013</td>
	  <td>$1945.00</td>
 	  <td>PAID</td>
	  <td><span class="badge badge-success"><i class="icon-ml-email"></i> Thank You</span>&nbsp;<span class="badge badge-important"></td>
<!--  <td>Email / Thank You </td>-->
		  
 
  
</table> 
<br>


<h6 class="muted">4 RECURRING INVOICES</h6>
<table class="table table-hover table-striped">
	      <tr>
	      	<th>Invoice Number</th>
			<th>Issue Date</th>
	      	<th>Due date</th>
	      	<th>Amount</th>
	      	<th>Status</th>
	      </tr>
		  <tr>
			  <td>000283</td>
			  <td>21/07/2013</td>
			  <td>20/08/2013</td>
			  <td>$645.00</td>
			  <td>SENT</td> 
		   </tr>
		  <tr>
			  <td>000273</td>
			  <td>21/07/2013</td>
			  <td>20/08/2013</td>
			  <td>$1945.00</td>
 		 	  <td>DUE (1w)</td> 
			 
		  </tr>
		  <tr class="success">
			  <td>000249</td>
			  <td>21/07/2013</td>
			  <td>20/08/2013</td>
			  <td>$1945.00</td>
		 	  <td>PAID</td>
		 
		  </tr>
</table><br><br>

<div class="row">
	<div class="span6">
	<legend><h5>Activity Feed</h5></legend>
	<ul>
         <% @action_details.each do |action_detail| %>
         <li> 
           Email for invoice# <%= action_detail[:invoice].number %> was sent by <%= action_detail[:user].first_name %> &nbsp <%= action_detail[:user].last_name %>
	       <%= action_detail[:email].sent_at.strftime("on %m/%d/%Y") %>
	       <%= action_detail[:email].sent_at.strftime("at %I:%M%p") %>
	       <br>
	        <% if action_detail[:email].viewed_at %>
				 <%= action_detail[:email].viewed_at.strftime("and it was viewed on %m/%d/%Y") %>
				 <%= action_detail[:email].viewed_at.strftime("at %I:%M%p") %>
	        <% end %>
          </li>   
        <% end %>
 

	</ul>
	</div>
	
	<div class="span6">
	<legend><h5>Future Actions</h5></legend>
	</div>
</div>
<!--
  <div class="acordeon">
<div class="accordion" id="accordion2">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <h4>All invoices</h4>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <% @invoices.each do |invoice|%>
        <div class="well">
        <p># <%= invoice.number %> -
        Date: <%= invoice.date %> - 
        Amount: <%= invoice.amount %><%= %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
--> 
  
</div>
</div>

</div>
</div>
<% end %>