
  <div class="input-append">
    <%= form_tag salesman_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :class => "span9", :placeholder => "Search a customer by first name, last name, account number or email" %>
           
    <%= button_tag(type: 'submit', class: "btn") do %>
   		 <i class="icon-ml-search"></i> Search</button>
    <% end %> 
    <% end %>
  </div>
   	<%= link_to customer_new_path, :class => "btn btn-success pull-right" do %>
   		<i class="icon-ml-add"></i> Add customer
   	<% end %>
   	
<table class="table table-bordered table-hover table-striped">
  <tr>
	  <th>#</th>
	  <th>First name</th>
	  <th>Last name </th>
	  <th>Email</th>
	  <th>Account</th>
	  <th>Open invoices</th>
	  <th class="span1">Actions</th>
  </tr>
  <% index = 0 %>
  <% @customer_detail.each do |details| %>
	  <tr>
	  <td><%= index = index + 1 %> </td>
	  <td><%= details[:customer].first_name %></td>
	  <td><%= details[:customer].last_name %></td>
	  <td><%= details[:customer].email %></td>
	  <td>
		  <% if details[:customer].account %>
		  <%= details[:customer].account%>
		  <% end %>
	  </td>
	  <td><%= details[:open_invoices] %></td>
	  <td> <%= link_to customer_details_path(details[:customer].id) do %>
	  			 <span class="label label-info"><i class="icon-ml-eye"></i> Details</span>
	  	   <% end %>
	  	   <%= link_to customer_delete_path(details[:customer].id) do %>
	  			 <span class="label label-danger">Delete</span>
	  	   <% end %>
	  	   
	  </td>
	  </tr>
  <% end %>
</table>


