  <div class="input-prepend pull-left">
    
    <form accept-charset="UTF-8" id="searchForm">
     <button type="button" class="btn disabled" id="search-button"><i class="icon-search"></i></button>
     
    <input type="text" class="span9" placeholder="Search a customer by first name, last name, account number, email or invoice number", id="search_field" name="search" autocomplete="off"/>
    <button type="button" class="btn btn-danger reset-search-button"/><i class="icon-remove-sign"></i></button>
    
  </div>
   	<%= link_to customer_new_path, :class => "btn btn-success pull-right" do %>
   		<i class="icon-plus-sign"></i> Add customer
   	<% end %>
   	
   	<div id="server">
       	
   	</div>
   	
<div class="clearfix"></div>
<div class="table-div">
    <table class="table table-hover table-striped" id="customers-table">
      <tr>
    	  <th>#</th>
    	  <th>Organization Name and Contact Name</th>
    	  <th>Email</th>
    	  <th>Open invoices</th>
    	  
    	  <th></th>
      </tr>
      <% index = 0 %>
      <% @customer_detail.each do |details| %>
    	  <tr data-link="<%= customer_details_path(details[:customer].id)%>">
    	  <td><%= index = index + 1 %> </td>
    	  <td><%= details[:customer].organization_name + ' / ' + details[:customer].first_name + ' ' +details[:customer].last_name %></td>
    	  <td><%= details[:customer].email %></td>
    	  <td><%= details[:open_invoices] %></td>
    	  <td>
        	  <i class="icon-chevron-right"></i>
    	  </td>
    	  
    	  </tr>
      <% end %>
    </table>
</div>
<br><br> 
<!-- Static Example of Table --> 
<table class="table table-hover table-striped">
  <tr>
	  <th>#</th>
	  <th>Organization Name and Contact Name &nbsp;<div class="btn-group">
  <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
     <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	    <li><a tabindex="-1" href="#">Most Recent</a></li>
 	    <li><a tabindex="-1" href="#">by Organization</a></li>
 	    <li><a tabindex="-1" href="#">by Contact</a></li>
  </ul>
</div>	   
 	   </th>
	  <th>Account Standing &nbsp;<div class="btn-group">
  <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
     <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	    <li><a tabindex="-1" href="#">New Customer</a></li>
 	    <li><a tabindex="-1" href="#">Good Payer</a></li>
 	    <li><a tabindex="-1" href="#">Not Good Payer</a></li>
  </ul></th>
	  <th>Open Invoice</th>
	  <th></th>
  </tr>
  <tr>
	  <td>1</td>
	  <td>Bloom Brothers / Mary R. Gilliam </td>
	  <td>New Customer</td>
	  <td>2</td>
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
  <tr>
	  <td>2</td>
	  <td>BASCO / Barbara Lauterbach</td>
	  <td>Good Payer</td>
	  <td>1</td>
	  <td><i class="icon-chevron-right"></i></span></td>
  </tr>
  <tr>
	  <td>3</td>
	  <td>Soft Warehouse Source Inc. / Jane Smith</td>
	  <td>"Not Good Payer"</td>
	  <td>2</td>
	  <td><i class="icon-chevron-right"></i></td>
  </tr>
   
</table> 
<br>
 