
		

<div class = "span12">

  <div class="input-append">
    
    <%= form_tag salesman_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :class => "span5" %>
    <%= submit_tag("Search", :class => "btn") %>   
    <% end %>
    
  </div>
  <br>
   	<button class = "btn" type = "button">Date</button>
   	<button class = "btn" type = "button">Name</button>
   	<button class="modalButton btn" type="button" id="1">Add</button>
  <br>

   
<table class="table table-hover">
  
  <tr>
  <th>#</th>
  <th>First name</th>
  <th>Last name </th>
  <th>Account number</th>
  <th>Payment</th>
  <th>Actions</th>
  </tr>
<!--

  <tr onclick = "document.location = 'detalii';">
  <td> 1</td>
  <td> Alex</td>
  <td> Alex </td>
  <td> 12334 </td>
  <td class="text-right">  25,00 $</td>
  <td></td>
  </tr>
    <tr onclick = "document.location = 'detalii';" class="error">
  <td> 2</td>
  <td> Cristina </td>
  <td> Conacel </td>
  <td> 12334 </td>
  <td class="text-right"> -25,00 $</td>
  <td></td>
  </tr>
    <tr onclick = "document.location = 'detalii';" class="error">
  <td> 3</td>
  <td> A </td>
  <td> A </td>
  <td> 12354 </td>
  <td class = "text-right"> -25,00 $</td>
  <td></td>
  </tr>
      <tr onclick = "document.location = 'detalii';">
  <td> 4</td>
  <td> B </td>
  <td> B </td>
  <td> 12354 </td>
  <td class = "text-right" > 0,00 $</td>
  <td></td>
  </tr>
      <tr onclick = "document.location = 'detalii';">
  <td> 5</td>
  <td> C</td>
  <td> C </td>
  <td> 12354 </td>
  <td class = "text-right"> 0,00 $</td>
  <td></td>
  </tr>
   <tr onclick = "document.location = 'detalii';" class="error">
  <td> 6</td>
  <td> D </td>
  <td> D </td>
  <td> 12354 </td>
  <td class = "text-right table_text_right"> -25,00 $</td>
  <td></td>
  </tr>
  
-->
  <% index = 0 %>
  <% @customers.each do |customer| %>
  	<% if customer.balance < 0 %>
  		<tr onclick = "document.location = 'detalii';" class = "error">
	<% else %>
		<tr onclick = "document.location = 'detalii';" >
	<% end %>
  
  <td><%= index = index + 1 %> </td>
  <td><%= customer.first_name %></td>
  <td><%= customer.last_name %></td>
  <td><%= customer.id %></td>
  <td><%= customer.balance %> $ </td>
  <td> </td>
  </tr>
  <% end %>
  
</table>

</div>
<div class="clearfix">
</div>


<div class="modal hide fade" id="modal1">
<div class="form-horizontal">
  <%= form_for :customer, url: 'customer_create', :class => "form-horizontal" do |f|%>

  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Add customer</h4>
          
           <div class="control-group">
	          <%= f.label :first_name, :class => "control-label" %>
	          <div class="controls">
		          <%= f.text_field :first_name, :class => "input-xlarge", :placeholder => "First Name" %>
		      </div>
		  </div>
          
          <div class="control-group">
	          <%= f.label :last_name, :class => "control-label" %>
	          <div class="controls">
		          <%= f.text_field :last_name, :class => "input-xlarge", :placeholder => "Last Name" %>
		      </div>
		  </div>
          
           <div class="control-group">
	          <%= f.label :phone, :class => "control-label" %>
	          <div class="controls">
		          <%= f.text_field :phone, :class => "input-xlarge", :placeholder => "Phone" %>
		      </div>
		  </div>
          
           <div class="control-group">
	          <%= f.label :email, :class => "control-label" %>
	          <div class="controls">
		          <%= f.text_field :email, :class => "input-xlarge", :placeholder => "Email" %>
		      </div>
		  </div>
          
          

  </div>
  
  <div class="modal-footer">
      <button type="button" class="btn btn-danger span2 pull-left" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <%= submit_tag("Add", :class => "btn btn-info span2 pull-right") %>
     <!--  <button type="button" class="btn btn-info span2 pull-right" data-dismiss="modal" aria-hidden="true">Add</button>
      -->
  </div>
  
  <% end %>  <!-- #form end -->
</div>
</div>
<script type="text/javascript">
      $(".modalButton").click(function(){
        var id = this.id;
        var modalNou = '#modal' + id;
      $(modalNou).modal('show');
      });
</script>