
<div class = "span8">
<table class="table plain_table">
<tr><td>
  <div class="input-append">
    
    <%= form_tag salesman_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :class => "span5" %>
    <%= submit_tag("Search", :class => "btn") %>   
    <% end %>
    
  </div>
  </td>
  <td>
   	<button class="modalButton btn" type="button" id="1">Add customer</button>
  </td>
</tr>
<tr>
  <td>
    <%= form_tag import_customers_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag("Import customers", :class => "btn") %>
    <% end %>
  </td>
</tr>
</table>
<table class="table table-bordered table-hover table-striped">
  
  <tr>
  <th>#</th>
  <th>First name</th>
  <th>Last name </th>
  <th>Account number</th>
  <th>Actions</th>
  </tr>
  
  <% index = 0 %>
  <% @customers.each do |customer| %>
  <tr>
  <td><%= index = index + 1 %> </td>
  <td><%= customer.first_name %></td>
  <td><%= customer.last_name %></td>
  <td><%= customer.id %></td>
  <td> <a href="customer_details/<%= customer.id %>" class = "btn" >Details</a></td>
  </tr>
  <% end %>
  
</table>

</div>
<div class="clearfix">
</div>


<div class="modal hide fade" id="modal1">
<div class="form-horizontal">
  <%= form_for :customer, url: 'customer_create', :class => "form-horizontal" do |f|%>

  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4>Add customer</h4>
          
           <div class="control-group">
	          <%= f.label :first_name, :class => "control-label" %>
	          <div class="controls">
		          <%= f.text_field :first_name, :class => "input-xlarge", :placeholder => "First Name" %>
		      </div>
		  </div>
          
          <div class="control-group">
	          <%= f.label :last_name, :class => "control-label" %>
	          <div class="controls">
		          <%= f.text_field :last_name, :class => "input-xlarge", :placeholder => "Last Name" %>
		      </div>
		  </div>
          
           <div class="control-group">
	          <%= f.label :phone, :class => "control-label" %>
	          <div class="controls">
		          <%= f.text_field :phone, :class => "input-xlarge", :placeholder => "Phone" %>
		      </div>
		  </div>
          
           <div class="control-group">
	          <%= f.label :email, :class => "control-label" %>
	          <div class="controls">
		          <%= f.text_field :email, :class => "input-xlarge", :placeholder => "Email" %>
		      </div>
		  </div>
          
          <div class="control-group">
	          <%= f.label :billing_address, :class => "control-label" %>
	          <div class="controls">
		          <%= f.text_field :billing_address, :class => "input-xlarge", :placeholder => "Billing address" %>
		      </div>
		  </div>

  </div>
  
  <div class="modal-footer">
      <button type="button" class="btn btn-danger span2 pull-left" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <%= submit_tag("Add", :class => "btn btn-info span2 pull-right") %>
     <!--  <button type="button" class="btn btn-info span2 pull-right" data-dismiss="modal" aria-hidden="true">Add</button>
      -->
  </div>
  
  <% end %>  <!-- #form end -->
</div>
</div>
