    <% vector = ["Accounts", "Financials", "Collections"] %>
   <% time = Time.now - activity.created_at %>
   <% changed_fields = [] %>
   <% if activity.owner && activity.trackable %>
 	<div class="row">
  			<div class="span1 img"><img class="img-rounded" src="https://si0.twimg.com/profile_images/3278714349/d509129a501a9c3c3686e0addaa10220_normal.jpeg" />
		    </div>
       <% if params[:page] == 'admin' %>
           <div class="span5">
        <% end %>
        <% if params[:page] == 'customer' || params[:page] == 'invoice' %>
            <div class="span4">
        <% end %>
    		<strong> <%= activity.owner.first_name + ' ' + activity.owner.last_name %> </strong> &nbsp;
    		<a class="muted" href="#">
            <% if activity.owner.job == User::ADMIN %>
            #admin
            <% else %>  
        		<% jobs = activity.owner.worksons %>
        		<% jobs.each do |job|%>
        		#<%= vector[job.job_id-2] %>
        		<% end %>
    		<% end %>

            </a>
    		<small class="pull-right muted">
<!--         		adding revert to actions only for admin -->
            <% if current_user.job == User::ADMIN %>
            <a class="revert_action" id="<%= activity.id %>">
                <span class="label"><i class="icon-undo"></i></span>
            </a>
            <% end %>
            &nbsp
            <% if  (time/1.day).to_i > 0 %>
    		    <%= (time/1.day).to_i %>d
            <% else %>
                <% if (time/1.hour).to_i > 0%>
                 <%= (time/1.hour).to_i %>h
                 <% else %>
                    <%= (time/1.minute).to_i%>m
                <% end %>
            <% end %>
    		</small> 
    		<p>Updated <a class="muted" href="#">#user</a>
    	    <%= link_to user_edit_path(activity.trackable.id), :class => "muted" do %>
    		<u><%= ' ' + activity.trackable.first_name + ' ' +activity.trackable.last_name %></u> 
    		<% end %>
    		's
<% if activity.pre_version_id != nil %>
        <% a = PaperTrail::Version.find(activity.pre_version_id)%>
            <% if a.next != nil %>
                <% post_version = a.next.reify %>
            <% else %>
                <% post_version = activity.trackable %>
            <% end %>
<% else %>
        <% a = activity.trackable.versions.last %>
        <% post_version = activity.trackable %>
<% end %>
<% if a %>
    <% previous_version = a.reify %>
                <% prev_hash = previous_version.attributes.except('company_id','job','salesman','accountant','collector','password_hash','password_salt','created_at','updated_at','id') %>
    		    <% post_hash = post_version.attributes.except('company_id','job','salesman','accountant','collector','password_hash','password_salt','created_at','updated_at','id') %>
    		    <% first_element = 0 %>
                <% prev_hash.each_pair { |key, value| %>
                    <% if prev_hash[key] != post_hash[key] %>
                        <% if first_element >0 %>, 
                        <% else first_element = 1 %>
                        <% end %>
        
                    <%= key %>
                     from   <%= prev_hash[key] %>
                     to <%= post_hash[key]%>
                     <% changed_fields.append(key) %>
                    <% end %>
                <% } %>
<!--                    job change-->
                <% if previous_version.salesman != post_version.salesman || previous_version.accountant != post_version.accountant || previous_version.collector != post_version.collector %>
                <% changed_fields.append("job") %>
                job from
                     <% if previous_version.salesman == true %><a class="muted" href="#">#accounts</a>
                     <% end %>
                     <% if previous_version.accountant == true %><a class="muted" href="#">#financials</a>
                     <% end %>
                     <% if previous_version.collector == true %><a class="muted">#collections</a>
                     <% end %>
                 to
                     <% if post_version.salesman == true %><a class="muted" href="#">#accounts</a>
                     <% end %>
                     <% if post_version.accountant == true %><a class="muted" href="#">#financials</a>
                     <% end %>
                     <% if post_version.collector == true %><a class="muted">#collections</a>
                     <% end %>
                <% end %>                
<% end %> <!-- end if there is a previous version -->
    		<%= activity.created_at.strftime("on %m/%d/%Y") %> </p>				
    		</div>
    		<% if params[:page] == 'admin'%>
                <div class="span6"> <legend></legend></div>  
            <% end %>
            <% if params[:page] == 'customer' || params[:page] == 'invoice'%>
                <div class="span5"> <legend></legend></div> 
            <% end %> 
   </div>
   
   <!--   modal for reverting action -->
<div id="revert-action-modal-<%= activity.id %>" class="modal hide fade in" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Revert action</h3>
  </div>
  <% if a %>
    <% post_revert = activity.trackable.attributes %>
    <% first_el = 0 %>
    <div class="modal-body">
        Are you sure you want to change back user <b><%= ' ' + activity.trackable.first_name + ' ' +activity.trackable.last_name %></b>'s
        <% changed_fields.each do |change|%>
            <% if first_el > 0%>,
            <% else first_el = 1 %>
            <% end %>
            <%= change %>
            from <%= post_revert[change]%>
            to <%= prev_hash[change] %>
        <% end %>
        ?
    </div>

    <div class="modal-footer">
      <button type="button" class="btn pull-left" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <%= link_to revert_update_version_path(:id => a.id , :activity_id => activity.id, :changed_fields => changed_fields ), :method => :post , :class => "btn btn-danger" do %>
   		 <i class="icon-undo"></i> Revert
      <% end %> 
    </div>
    <% end %> <!-- end if a -->
</div>
		
   <% end %>