<div class="well">
	<% if current_user.company_id != 0 %>
	<% if @company = Company.find(current_user.company_id) %>
	<h4>Company details</h4>
	<address>
	<strong>Name</strong><br>
    <%= @company.name %><br>
    <strong>Address</strong><br>
    <%= @company.address %>,
    <%= @company.country %>,
    <%= @company.zip_code %><br>
    </address>
     
    <address>
    <strong>Current user</strong><br>
    <%= current_user.id %>,
    <%= current_user.first_name %><br>
    </address>
    
    <% end %>
    <% else %>
     No company created
    <% end %>
    </div>
