
<% @user_details = User.details(current_user[:id])%>
<%= render 'layouts/company_details' %>
		<div class="well sidebar-nav">
			<% is_admin = current_user[:job] %>
            <% if is_admin == 1 %>
            	<%= render 'layouts/admin_menu' %>
            	<%= render 'layouts/salesman_menu'%>
            	<%= render 'layouts/accountant_menu'%>
            	<%= render 'layouts/collector_menu'%>
            <% end %>
            <% @user_jobs = @user_details[:job]%>
            <% if @user_jobs %>
	            <% @user_jobs.each do |user_job|%>
		            <% if user_job.job_id == 2 %>
			          <%=  render 'layouts/salesman_menu' %>
		            <% end %>
		            <% if user_job.job_id == 3 %>
			            <%= render 'layouts/accountant_menu' %>
		            <% end %>
		            <% if user_job.job_id == 4 %>
			            <%= render 'layouts/collector_menu' %>
		            <% end %>
	            <% end %>
            <% end %>
          </div>
    
    
    