
<% @user_details = User.details(current_user[:id])%>

		<div class="well sidebar-nav">
			<% is_admin = current_user[:job] %>
            <% if is_admin == 1 %>
            	<%= render 'layouts/admin_menu' %>
            	<%= render 'layouts/salesman_menu'%>
            	<%= render 'layouts/accountant_menu'%>
            	<%= render 'layouts/collector_menu'%>
            <% end %>
            <% @user_jobs = @user_details[:job]%>
            <% if @user_jobs %>
	            <% @user_jobs.each do |user_job|%>
		            <% if user_job.job_id == 2 %>
			          <%=  render 'layouts/salesman_menu' %>
		            <% end %>
		            <% if user_job.job_id == 3 %>
			            <%= render 'layouts/accountant_menu' %>
		            <% end %>
		            <% if user_job.job_id == 4 %>
			            <%= render 'layouts/collector_menu' %>
		            <% end %>
	            <% end %>
            <% end %>
          </div>
    <div class="well">
	<h4>Company details</h4>
	
	<address>
	<strong>Name</strong><br>
    Twitter Inc.<br>
    <strong>Street</strong><br>
    795 Folsom Ave, Suite 600<br>
    San Francisco, CA 94107<br>
    <strong>Phone</strong>
    <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
     
    <address>
    <strong>Full Name</strong><br>
    <a href="mailto:#">first.last@example.com</a>
    </address>
    <a href="#">Edit</a>
    </div>
