<!DOCTYPE html>
<html>
<head>
  <title>Services</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <style>
	  .container-login{
		  width:300px;
	  }
  </style>
</head>
<body>
 <div class="navbar navbar-inverse navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
              <% if current_user && current_user.company_id != 0 %>
              <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</a>

			<a class="brand" href="">Invoice Flow</a>

             <div class="nav-collapse collapse">
		         <ul class="nav">
		             <%= render 'layouts/top_menu' %>
		         </ul>
              <ul class="nav pull-right">
	              <% if current_user[:job] == 1 %>
              	  <li><a href="/"></a></li>
	              <% else%>
	              <li><a href="/user">Employee</a></li>
	              <% end %>
	              <li><a href="/logout">Logout</a></li>
              </ul>
              <% else %>
              <ul class="nav pull-right">
              	<li><a href="#">Login</a></li>
              </ul>
              <% end %>
	           </ul>
			</div>

        </div>
      </nav>
    </div>
    <div id="main" role="main">
    <% if current_user && current_user.company_id != 0 %>
      <div class="container">
    <% else %>
      <div class="container container-login">
    <% end %>

        <div class="content">
           <div class="row">
            <% if current_user && current_user.company_id != 0 %>
              <div class="span12">
	            <% flash.each do |name, msg| %>
		            <% if name == :notice %>
		            	<div class="alert alert-success">
		            	<button type="button" class="close" data-dismiss="alert">&times;</button>
			            	<%= raw(msg) %>
		            	</div>
		            <% end %>
		            <% if name == :alert %>
		            	<div class="alert alert-error">
		            	<button type="button" class="close" data-dismiss="alert">&times;</button>
		            		<%= msg %>
		            	</div>
		            <% end %>
	            <% end %>
            <% end %>
           <%= yield %>
           </div>
          </div>
          <footer>
          </footer>
        </div>

      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

    <div id="get-token" data-token="<%= @token %>"></div>
    <%= render :partial => "partials/sms_modal" %>
    <%= render :partial => "partials/call_modal" %>
    <%= render :partial => "partials/sms_modal_invoice" %>
</body>
</html>
