<!DOCTYPE html>
<html>
<head>
  <title>Services</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <style>
	  .container-login{
		  width:270px;
	  }
  </style>
</head>
<body>
 <div class="navbar navbar-inverse navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
              <% if current_user && current_user.company_id != 0 %>
              <ul class="nav">
              	  <% if current_user[:job] == 1 %>
              	  <li><a href="/admin">Services - admin</a></li>
	              <% else%>
	              <li><a href="/user">Services - employee</a></li>
	              <% end %>
              </ul>
              <ul class="nav pull-right">
	              <li><a href="/logout">Logout</a></li>
              </ul>
              <% else %>
              <ul class="nav pull-right">
              	<li><a href="#">Login</a></li>
              </ul>
              <% end %>
              
	           </ul>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
    <% if current_user && current_user.company_id != 0 %>
      <div class="container">
    <% else %>  
      <div class="container container-login">
    <% end %>
        <div class="content">
           <div class="row">
           <div class="span3">
            <% if current_user && current_user.company_id != 0 %>
            <%= render 'layouts/left_menu' %>           
           </div>
           <div class="span9">
	           <% flash.each do |key, value| %>
	           		<div class="alert alert-success">
		           		<button type="button" class="close" data-dismiss="alert">&times;</button>
		           		<strong>Success!</strong> <%= value %>
		           	</div>
	            <% end %>
            <% end %>
            <%= yield %>
           </div>           
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
</body>
</html>
