<!DOCTYPE html>
<html>
<head>
  <title>Services</title>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= stylesheet_link_tag "invoice_reset" %>
  <%= stylesheet_link_tag "invoice_style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

</head>
<body style="padding: 0 0;">

           <%= yield %>

</body>
</html>
